Repository cardstack/cardstack, pull requests merged in 2021-11, with the labels that each got.

#2307 web: Update Discord link and copy
  packages/web-client/app/components/workflow-thread/index.hbs
  packages/web-client/config/environment.js
Labels: web

#2295 web: Add timeout message for deposit delay
  packages/web-client/app/components/card-pay/deposit-workflow/transaction-status/index.css
  packages/web-client/app/components/card-pay/deposit-workflow/transaction-status/index.hbs
  packages/web-client/app/components/card-pay/deposit-workflow/transaction-status/index.ts
  packages/web-client/app/utils/web3-strategies/test-layer1.ts
  packages/web-client/app/utils/web3-strategies/test-layer2.ts
  packages/web-client/tests/integration/components/card-pay/deposit-workflow/transaction-status-test.ts
Labels: enhancement, web

#2269 Card space url setup
  packages/hub/node-tests/routes/card-space-test.ts
  packages/hub/node-tests/services/card-space-validator-test.ts
  packages/hub/node-tests/services/reserved-words-test.ts
  packages/hub/package.json
  packages/hub/routes/card-spaces.ts
  packages/hub/services/api-router.ts
  packages/hub/services/reserved-words.ts
  packages/hub/services/validators/card-space.ts
  packages/web-client/app/components/card-pay/create-merchant-workflow/merchant-customization/index.hbs
  packages/web-client/app/components/card-space/create-space-workflow/details/index.hbs
  packages/web-client/app/components/card-space/edit-details/index.hbs
  packages/web-client/app/components/card-space/edit-details/url/index.css
  packages/web-client/app/components/card-space/edit-details/url/index.hbs
  packages/web-client/app/components/card-space/edit-details/url/index.ts
  packages/web-client/app/components/common/validation-state-input/index.css
  packages/web-client/app/components/common/validation-state-input/index.hbs
  packages/web-client/app/components/common/validation-state-input/index.ts
  packages/web-client/tests/integration/components/card-space/details/url-card-test.ts
  yarn.lock
Labels: web, hub

#2306 web: Add Percy for visual diffs
  .github/workflows/pr-web-client.yml
  package.json
  packages/web-client/.eslintrc.js
  packages/web-client/.percy.js
  packages/web-client/app/components/card-pay/create-merchant-workflow/merchant-customization/index.ts
  packages/web-client/package.json
  packages/web-client/tests/acceptance/card-balances-test.ts
  packages/web-client/tests/acceptance/connect-wallet-test.ts
  packages/web-client/tests/acceptance/create-card-space-test.ts
  packages/web-client/tests/acceptance/create-merchant-test.ts
  packages/web-client/tests/acceptance/deposit-test.ts
  packages/web-client/tests/acceptance/issue-prepaid-card-test.ts
  packages/web-client/tests/acceptance/merchant-services-test.ts
  packages/web-client/tests/acceptance/pay-test.ts
  packages/web-client/tests/acceptance/persistence-view-restore-test.ts
  packages/web-client/tests/acceptance/withdrawal-test.ts
Labels: testing, web

#2322 Avoid issue where Infura is 1 block behind the chain head
  packages/cardpay-sdk/sdk/assets.ts
  packages/cardpay-sdk/sdk/layer-one-oracle.ts
  packages/cardpay-sdk/sdk/token-bridge-foreign-side.ts
  packages/cardpay-sdk/sdk/utils/general-utils.ts
  packages/web-client/app/utils/token.ts
  packages/web-client/app/utils/web3-strategies/layer1-chain.ts
  packages/web-client/app/utils/web3-strategies/test-layer1.ts
  packages/web-client/app/utils/web3-strategies/types.ts
Labels: bug, web

#2330 web: Add guard to ignore task cancelation
  packages/web-client/app/components/card-pay/deposit-workflow/transaction-status/index.ts
Labels: bug, web

#2334 web: Update with Deposit & Withdrawal section
  packages/web-client/app/components/card-pay/dashboard-panel/section/index.hbs
  packages/web-client/app/components/card-pay/issue-prepaid-card-workflow/insufficient-funds-cta/index.ts
  packages/web-client/app/controllers/card-pay/deposit-withdrawal.ts
  packages/web-client/app/css/card-pay/deposit-withdrawal.css
  packages/web-client/app/router.ts
  packages/web-client/app/routes/card-pay/deposit-withdrawal.ts
  packages/web-client/app/services/workflow-persistence.ts
  packages/web-client/app/templates/card-pay.hbs
  packages/web-client/app/templates/card-pay/balances.hbs
  packages/web-client/app/templates/card-pay/deposit-withdrawal.hbs
  packages/web-client/public/images/dashboard/deposit-route.svg
  packages/web-client/public/images/dashboard/withdrawal-route.svg
  packages/web-client/tests/acceptance/deposit-persistence-test.ts
  packages/web-client/tests/acceptance/deposit-test.ts
  packages/web-client/tests/acceptance/deposit-withdrawal-test.ts
  packages/web-client/tests/acceptance/withdrawal-persistence-test.ts
  packages/web-client/tests/acceptance/withdrawal-test.ts
Labels: enhancement, web

#2335 web: Add Percy runs on main
  .github/workflows/push-main.yml
Labels: bug, web

#2341 web: Add timeout message for withdrawal tracking
  packages/web-client/app/components/card-pay/deposit-workflow/transaction-status/index.css
  packages/web-client/app/components/card-pay/withdrawal-workflow/transaction-status/index.hbs
  packages/web-client/app/components/card-pay/withdrawal-workflow/transaction-status/index.ts
  packages/web-client/tests/integration/components/card-pay/withdrawal-workflow/transaction-status-test.ts
Labels: enhancement, web

#2346 web: Add guard against missing account address
  packages/web-client/app/utils/web3-strategies/layer2-chain.ts
Labels: bug, web

#2343 web: Rename merchants to business accounts
  packages/cardpay-sdk/sdk/utils/merchant.ts
  packages/hub/node-tests/routes/merchant-infos-test.ts
  packages/web-client/app/components/card-pay/create-merchant-workflow/index.ts
  packages/web-client/app/components/card-pay/create-merchant-workflow/merchant-customization/index.hbs
  packages/web-client/app/components/card-pay/create-merchant-workflow/merchant-customization/index.ts
  packages/web-client/app/components/card-pay/create-merchant-workflow/prepaid-card-choice/index.hbs
  packages/web-client/app/components/card-pay/deposit-workflow/index.hbs
  packages/web-client/app/components/card-pay/issue-prepaid-card-workflow/funding-source/index.hbs
  packages/web-client/app/components/card-pay/issue-prepaid-card-workflow/index.hbs
  packages/web-client/app/components/card-pay/issue-prepaid-card-workflow/index.ts
  packages/web-client/app/components/card-pay/merchant-card/index.hbs
  packages/web-client/app/components/card-pay/merchant-payment-request-card/payment-request/index.hbs
  packages/web-client/app/components/card-pay/safe-chooser-dropdown/safe-option/index.ts
  packages/web-client/app/models/workflow.ts
  packages/web-client/app/routes/card-pay/balances.ts
  packages/web-client/app/routes/card-pay/base.ts
  packages/web-client/app/routes/card-pay/deposit-withdrawal.ts
  packages/web-client/app/routes/card-pay/payments.ts
  packages/web-client/app/services/workflow-persistence.ts
  packages/web-client/app/templates/card-pay/payments.hbs
  packages/web-client/app/templates/pay-error.hbs
  packages/web-client/app/templates/pay.hbs
  packages/web-client/mirage/config.js
  packages/web-client/tests/acceptance/create-merchant-persistence-test.ts
  packages/web-client/tests/acceptance/create-merchant-test.ts
  packages/web-client/tests/acceptance/issue-prepaid-card-persistence-test.ts
  packages/web-client/tests/acceptance/issue-prepaid-card-test.ts
  packages/web-client/tests/acceptance/pay-test.ts
  packages/web-client/tests/acceptance/persistence-view-restore-test.ts
  packages/web-client/tests/integration/components/card-pay/create-merchant-workflow/merchant-customization-test.ts
  packages/web-client/tests/integration/components/card-pay/create-merchant-workflow/prepaid-card-choice-test.ts
  packages/web-client/tests/integration/components/card-pay/issue-prepaid-card-workflow/funding-source-test.ts
  packages/web-client/tests/integration/components/card-pay/merchant-payment-request-card-test.ts
  packages/web-client/tests/integration/components/card-pay/safe-chooser-dropdown-test.ts
Labels: enhancement, web

#2360 web: Fix misnamed helper function
  packages/web-client/app/helpers/format-amount.ts
Labels: bug, maintenance, web

#2349 web: Add available balances listing
  packages/boxel/public/images/icons/minus.svg
  packages/web-client/app/components/card-pay/depot/index.css
  packages/web-client/app/components/card-pay/depot/index.hbs
  packages/web-client/app/components/card-pay/merchant-logo/index.css
  packages/web-client/app/components/card-pay/safe-balances/index.css
  packages/web-client/app/components/card-pay/safe-balances/index.hbs
  packages/web-client/app/components/card-pay/safe-balances/index.ts
  packages/web-client/app/controllers/card-pay/deposit-withdrawal.ts
  packages/web-client/app/css/card-pay/deposit-withdrawal.css
  packages/web-client/app/routes/card-pay/deposit-withdrawal.ts
  packages/web-client/app/templates/card-pay/deposit-withdrawal.hbs
  packages/web-client/public/images/icons/depot-arrows.svg
  packages/web-client/tests/acceptance/deposit-withdrawal-test.ts
  packages/web-client/tests/integration/components/card-pay/safe-balances-test.ts
Labels: enhancement, web

#2369 web: Add Return to Dashboard button
  packages/web-client/app/components/card-pay/create-merchant-workflow/index.hbs
  packages/web-client/app/components/card-pay/deposit-workflow/index.hbs
  packages/web-client/app/components/card-pay/issue-prepaid-card-workflow/index.hbs
  packages/web-client/app/components/card-pay/withdrawal-workflow/index.hbs
  packages/web-client/app/components/card-space/create-space-workflow/index.hbs
  packages/web-client/app/components/workflow-thread/index.css
  packages/web-client/app/components/workflow-thread/index.hbs
  packages/web-client/app/templates/card-pay/balances.hbs
  packages/web-client/app/templates/card-pay/deposit-withdrawal.hbs
  packages/web-client/app/templates/card-pay/payments.hbs
  packages/web-client/app/templates/card-space.hbs
  packages/web-client/tests/acceptance/create-card-space-persistence-test.ts
  packages/web-client/tests/acceptance/create-merchant-persistence-test.ts
  packages/web-client/tests/acceptance/deposit-persistence-test.ts
  packages/web-client/tests/acceptance/issue-prepaid-card-persistence-test.ts
  packages/web-client/tests/acceptance/withdrawal-persistence-test.ts
Labels: enhancement, web

#2379 CS-2524 updating SDK to wait until txn's are indexed by subgraph before resolving API promises
  .vscode/launch.json
  packages/cardpay-sdk/sdk/prepaid-card-market/base.ts
  packages/cardpay-sdk/sdk/prepaid-card/base.ts
  packages/cardpay-sdk/sdk/revenue-pool/base.ts
  packages/cardpay-sdk/sdk/reward-manager/base.ts
  packages/cardpay-sdk/sdk/reward-pool/base.ts
  packages/cardpay-sdk/sdk/safes/base.ts
  packages/cardpay-sdk/sdk/token-bridge-home-side.ts
  packages/cardpay-sdk/sdk/utils/general-utils.ts
Labels: sdk

#2378 web: Replace original depot icon
  packages/web-client/app/components/card-pay/safe-balances/index.ts
  packages/web-client/public/images/icons/depot-arrows.svg
  packages/web-client/public/images/icons/depot.svg
  packages/web-client/tests/integration/components/card-pay/safe-balances-test.ts
Labels: web

#2383 Add ability to abandon (delete) incomplete workflows
  .github/workflows/pr-boxel.yml
  packages/boxel/addon/components/boxel/button/kind-variants.css
  packages/boxel/addon/components/boxel/button/usage.ts
  packages/boxel/addon/styles/variables.css
  packages/web-client/app/components/card-pay/header/workflow-tracker/index.css
  packages/web-client/app/components/card-pay/header/workflow-tracker/item/index.css
  packages/web-client/app/components/card-pay/header/workflow-tracker/item/index.hbs
  packages/web-client/app/components/card-pay/header/workflow-tracker/item/index.ts
  packages/web-client/public/images/icons/trash.svg
  packages/web-client/tests/acceptance/persistence-view-restore-test.ts
Labels: web

#2386 Add block confirm to withdraw flow
  packages/web-client/app/components/card-pay/withdrawal-workflow/index.ts
  packages/web-client/app/components/card-pay/withdrawal-workflow/transaction-amount/index.hbs
  packages/web-client/app/components/card-pay/withdrawal-workflow/transaction-amount/index.ts
  packages/web-client/app/components/card-pay/withdrawal-workflow/transaction-status/index.hbs
  packages/web-client/app/components/card-pay/withdrawal-workflow/transaction-status/index.ts
  packages/web-client/app/services/layer2-network.ts
  packages/web-client/app/utils/web3-strategies/layer2-chain.ts
  packages/web-client/app/utils/web3-strategies/test-layer2.ts
  packages/web-client/app/utils/web3-strategies/types.ts
  packages/web-client/tests/acceptance/withdrawal-persistence-test.ts
  packages/web-client/tests/acceptance/withdrawal-test.ts
  packages/web-client/tests/integration/components/card-pay/withdrawal-workflow/transaction-amount-test.ts
  packages/web-client/tests/integration/components/card-pay/withdrawal-workflow/transaction-status-test.ts
Labels: web

#2380 web: Add Card Space button text chooser
  packages/web-client/app/components/card-space/edit-details/button-text/index.css
  packages/web-client/app/components/card-space/edit-details/button-text/index.hbs
  packages/web-client/app/components/card-space/edit-details/button-text/index.ts
  packages/web-client/app/components/card-space/edit-details/index.hbs
  packages/web-client/tests/integration/components/card-space/details/button-text-card-test.ts
Labels: enhancement, web

#2399 web: Update token icons with CPXD versions
  packages/web-client/app/utils/token.ts
  packages/web-client/public/images/icons/card-cpxd-token.svg
  packages/web-client/public/images/icons/dai-cpxd-token.svg
Labels: enhancement, web

#2398 hub: Remove colon in Authorization header
  packages/cardpay-cli/prepaid-card-market.ts
  packages/cardpay-sdk/sdk/hub-auth.ts
  packages/hub/node-tests/routes/card-space-test.ts
  packages/hub/node-tests/routes/custodial-wallets-test.ts
  packages/hub/node-tests/routes/inventory-test.ts
  packages/hub/node-tests/routes/merchant-infos-test.ts
  packages/hub/node-tests/routes/orders-test.ts
  packages/hub/node-tests/routes/prepaid-card-customizations-test.ts
  packages/hub/node-tests/routes/reservations-test.ts
  packages/hub/node-tests/routes/session-test.ts
  packages/hub/services/authentication-middleware.ts
  packages/web-client/app/components/card-space/edit-details/url/index.ts
  packages/web-client/app/services/card-customization.ts
  packages/web-client/app/services/merchant-info.ts
  packages/web-client/tests/acceptance/issue-prepaid-card-test.ts
Labels: bug, hub

#2410 Copy updates
  packages/web-client/app/routes/index.ts
  packages/web-client/app/templates/index.hbs
Labels: web

#2409 web: Add truncation for merchant names
  packages/web-client/app/components/card-pay/merchant-card/index.css
  packages/web-client/app/components/card-pay/merchant-card/index.hbs
  packages/web-client/app/components/card-pay/merchant/index.css
  packages/web-client/app/components/card-pay/merchant/index.hbs
  packages/web-client/app/components/card-pay/safe-balances/index.css
  packages/web-client/app/components/card-pay/safe-balances/index.hbs
Labels: bug, web

#2397 Image upload endpoint
  packages/hub/config/custom-environment-variables.json
  packages/hub/config/default.cjs
  packages/hub/config/structure.sql
  packages/hub/db/migrations/20211118084217151_create-uploads.js
  packages/hub/main.ts
  packages/hub/node-tests/mock-data/cat.jpeg
  packages/hub/node-tests/routes/upload-test.ts
  packages/hub/package.json
  packages/hub/routes/upload.ts
  packages/hub/services/queries/upload.ts
  packages/hub/services/web3-storage.ts
Labels: hub

#2428 Update signup links
  packages/web-client/app/components/card-pay/layer-two-connect-card/index.css
  packages/web-client/app/components/card-pay/layer-two-connect-card/index.hbs
  packages/web-client/app/components/card-pay/layer-two-connect-card/index.ts
  packages/web-client/config/environment.js
  packages/web-client/public/images/icons/test-flight-icon.svg
  packages/web-client/public/images/test-flight-icon.png
  packages/web-client/public/images/test-flight-icon@2x.png
Labels: web

#2361 [CS-1805] Further progress on indexing
  packages/base-cards/integer/card.json
  packages/base-cards/integer/edit.js
  packages/base-cards/integer/embedded.js
  packages/base-cards/integer/schema.js
  packages/cardhost/app/lib/builder.ts
  packages/core/COMPUTEDS.md
  packages/core/src/compiler.ts
  packages/core/src/interfaces.ts
  packages/core/src/query.ts
  packages/core/src/raw-card-deserializer.ts
  packages/db/index.ts
  packages/di/dependency-injection.ts
  packages/hub/cli/compiler/prime.ts
  packages/hub/cli/server.ts
  packages/hub/config/default.cjs
  packages/hub/config/structure.sql
  packages/hub/config/test.cjs
  packages/hub/config/test.json
  packages/hub/db/migrations/20211110210324178_card-index-part-duex.js
  packages/hub/interfaces.ts
  packages/hub/main.ts
  packages/hub/node-tests/helpers/cards.ts
  packages/hub/node-tests/helpers/server.ts
  packages/hub/node-tests/routes/cards/delete-test.ts
  packages/hub/node-tests/routes/cards/get-test.ts
  packages/hub/node-tests/routes/cards/patch-test.ts
  packages/hub/node-tests/routes/cards/post-test.ts
  packages/hub/node-tests/routes/cards/query-test.ts
  packages/hub/node-tests/services/card-service-test.ts
  packages/hub/node-tests/services/search-index-test.ts
  packages/hub/package.json
  packages/hub/realms/fs-realm.ts
  packages/hub/routes/card-routes.ts
  packages/hub/services/card-builder.ts
  packages/hub/services/card-cache.ts
  packages/hub/services/card-service.ts
  packages/hub/services/card-watcher.ts
  packages/hub/services/realm-manager.ts
  packages/hub/services/search-index.ts
  packages/hub/utils/expressions.ts
  packages/hub/utils/serialization.ts
  yarn.lock
Labels: hub

#2432 Wallet tab marketing copy updates
  packages/web-client/app/routes/card-pay/wallet.ts
  packages/web-client/app/templates/card-pay/wallet.hbs
Labels: web
