Repository cardstack/cardstack, pull requests merged in 2021-10, with the labels that each got.

#2181 Organize creation of safes + customizations
  packages/web-client/app/utils/web3-strategies/test-layer2.ts
  packages/web-client/mirage/config.js
  packages/web-client/tests/acceptance/card-balances-test.ts
  packages/web-client/tests/acceptance/create-merchant-persistence-test.ts
  packages/web-client/tests/acceptance/create-merchant-test.ts
  packages/web-client/tests/acceptance/issue-prepaid-card-persistence-test.ts
  packages/web-client/tests/acceptance/issue-prepaid-card-test.ts
  packages/web-client/tests/acceptance/merchant-services-test.ts
  packages/web-client/tests/acceptance/pay-test.ts
  packages/web-client/tests/acceptance/persistence-view-restore-test.ts
  packages/web-client/tests/acceptance/withdrawal-persistence-test.ts
  packages/web-client/tests/acceptance/withdrawal-test.ts
  packages/web-client/tests/helpers/factories.ts
  packages/web-client/tests/integration/components/card-pay/create-merchant-workflow/merchant-customization-test.ts
  packages/web-client/tests/integration/components/card-pay/create-merchant-workflow/prepaid-card-choice-card-picker-test.ts
  packages/web-client/tests/integration/components/card-pay/create-merchant-workflow/prepaid-card-choice-test.ts
  packages/web-client/tests/integration/components/card-pay/prepaid-card-safe-test.ts
  packages/web-client/tests/integration/components/card-pay/safe-chooser-dropdown-test.ts
  packages/web-client/tests/integration/components/card-pay/withdrawal-workflow/choose-balance-test.ts
  packages/web-client/tests/integration/components/card-pay/withdrawal-workflow/transaction-confirmed-test.ts
Labels: web

#2184 Add updating of workflow count on storage event
  packages/web-client/app/services/workflow-persistence.ts
  packages/web-client/tests/acceptance/persistence-view-restore-test.ts
Labels: requires discussion, testing, web

#2191 use exchange rates in merchant payments to display appropriate amount of SPEND + validate min amount
  packages/hub/README.md
  packages/hub/config/custom-environment-variables.json
  packages/hub/config/default.json
  packages/hub/main.ts
  packages/hub/node-tests/routes/exchange-rates-test.ts
  packages/hub/node-tests/services/exchange-rates-test.ts
  packages/hub/routes/exchange-rates.ts
  packages/hub/services/api-router.ts
  packages/hub/services/exchange-rates.ts
  packages/web-client/app/controllers/pay.ts
  packages/web-client/app/routes/pay.ts
  packages/web-client/mirage/config.js
  packages/web-client/tests/acceptance/pay-test.ts
Labels: web, hub

#2201 web: Add Card Space profile card
  packages/boxel/addon/styles/variables.css
  packages/boxel/public/images/placeholders/image.svg
  packages/web-client/app/components/card-space/profile-card/index.css
  packages/web-client/app/components/card-space/profile-card/index.hbs
  packages/web-client/app/router.ts
  packages/web-client/app/templates/card-space.hbs
  packages/web-client/app/templates/card-space/profile-card-temp.hbs
  packages/web-client/tests/integration/components/card-space/profile-card-test.ts
Labels: enhancement, web

#2225 Card spaces endpoint
  packages/did-resolver/index.ts
  packages/hub/config/structure.sql
  packages/hub/db/migrations/20211006090701108_create-card-spaces.js
  packages/hub/main.ts
  packages/hub/node-tests/routes/card-space-test.ts
  packages/hub/routes/card-spaces.ts
  packages/hub/services/api-router.ts
  packages/hub/services/queries/card-space.ts
  packages/hub/services/queries/merchant-info.ts
  packages/hub/services/serializers/card-space-serializer.ts
  packages/hub/services/validators/card-space.ts
  packages/hub/tasks/persist-off-chain-card-space.ts
  packages/hub/utils/queries.ts
Labels: hub

#2236 web: Change workflow versions to be integers
  packages/web-client/app/components/card-pay/create-merchant-workflow/index.ts
  packages/web-client/app/components/card-pay/issue-prepaid-card-workflow/index.ts
  packages/web-client/app/components/card-pay/withdrawal-workflow/index.ts
  packages/web-client/tests/acceptance/withdrawal-persistence-test.ts
Labels: maintenance, web

#2234 Card Space Url validation endpoint
  packages/hub/node-tests/routes/card-space-test.ts
  packages/hub/routes/card-spaces.ts
  packages/hub/services/api-router.ts
Labels: hub

#2243 Card spaces edit endpoint
  packages/hub/config/structure.sql
  packages/hub/db/migrations/20211014131843187_add-fields-to-card-spaces.js
  packages/hub/node-tests/routes/card-space-test.ts
  packages/hub/node-tests/services/card-space-validator-test.ts
  packages/hub/routes/card-spaces.ts
  packages/hub/services/api-router.ts
  packages/hub/services/queries/card-space.ts
  packages/hub/services/serializers/card-space-serializer.ts
  packages/hub/services/validators/card-space.ts
Labels: hub

#2256 Fix test sorting bug
  packages/web-client/app/resources/safes.ts
  packages/web-client/app/utils/test-factories.ts
  packages/web-client/app/utils/web3-strategies/test-layer2.ts
Labels: bug, testing, web
