Repository cardstack/cardstack, pull requests merged in 2021-12, with the labels that each got.

#2433 Copy updates for Deposit/Withdrawal tab
  packages/web-client/app/css/card-pay/deposit-withdrawal.css
  packages/web-client/app/routes/card-pay/deposit-withdrawal.ts
Labels: web

#2426 Push notification registrations
  packages/hub/config/structure.sql
  packages/hub/db/migrations/20211129083801382_create-push-notification-registrations.js
  packages/hub/main.ts
  packages/hub/node-tests/routes/push-notification-registrations-test.ts
  packages/hub/routes/push_notification_registrations.ts
  packages/hub/services/api-router.ts
  packages/hub/services/queries/push-notification-registration.ts
  packages/hub/services/serializers/push-notification-registration-serializer.ts
  packages/hub/utils/queries.ts
Labels: hub

#2458 hub: Fix filename typo
  packages/hub/contract-subscription-event-handler.ts
  packages/hub/main.ts
Labels: bug, hub

#2440 Update ember-auto-import
  packages/boxel/addon/helpers/css-url.ts
  packages/boxel/app/helpers/css-url.js
  packages/boxel/package.json
  packages/boxel/tests/integration/components/boxel/menu-test.js
  packages/boxel/tests/integration/components/boxel/sort-menu-test.js
  packages/boxel/tests/integration/helpers/css-url-test.ts
  packages/boxel/tests/integration/helpers/dayjs-format-test.js
  packages/web-client/tests/integration/components/card-pay/deposit-workflow/transaction-amount-test.ts
  packages/web-client/tests/integration/components/card-pay/deposit-workflow/transaction-setup-test.ts
  packages/web-client/tests/integration/components/card-pay/withdrawal-workflow/transaction-amount-test.ts
  yarn.lock
Labels: dependencies, boxel

#2447 hub: Add merchant name to notifications
  packages/hub/main.ts
  packages/hub/node-tests/services/merchant-info-test.ts
  packages/hub/node-tests/services/web3-socket-test.ts
  packages/hub/node-tests/tasks/notify-customer-payment-test.ts
  packages/hub/node-tests/tasks/notify-merchant-claim-test.ts
  packages/hub/node-tests/utils/wait-for.ts
  packages/hub/package.json
  packages/hub/services/merchant-info.ts
  packages/hub/services/serializers/card-space-serializer.ts
  packages/hub/services/serializers/merchant-info-serializer.ts
  packages/hub/services/serializers/prepaid-card-color-scheme-serializer.ts
  packages/hub/services/serializers/prepaid-card-customization-serializer.ts
  packages/hub/services/serializers/prepaid-card-pattern-serializer.ts
  packages/hub/services/serializers/push-notification-registration-serializer.ts
  packages/hub/tasks/notify-customer-payment.ts
  packages/hub/tasks/notify-merchant-claim.ts
  packages/hub/utils/jsonapi-document.ts
Labels: enhancement, hub

#2442 🔔 ⚙️ Notification preferences
  packages/hub/config/structure.sql
  packages/hub/db/migrations/20211129123635817_create-notification-types.js
  packages/hub/db/migrations/20211129130425303_create-notification-preferences.js
  packages/hub/db/seeds.ts
  packages/hub/main.ts
  packages/hub/node-tests/routes/notification-preferences-test.ts
  packages/hub/routes/card-spaces.ts
  packages/hub/routes/notification-preferences.ts
  packages/hub/routes/utils/error.ts
  packages/hub/services/api-router.ts
  packages/hub/services/queries/notification-preference.ts
  packages/hub/services/queries/notification-type.ts
  packages/hub/services/serializers/notification-preference-serializer.ts
  packages/hub/services/validators/card-space.ts
Labels: hub

#2475 hub: Add tests for contract subscription handler
  packages/hub/contract-subscription-event-handler.ts
  packages/hub/main.ts
  packages/hub/node-tests/contract-subscription-event-handler-test.ts
  packages/hub/services/contracts.ts
Labels: testing, hub

#2473 hub: Add tracking to prevent missed contract events
  packages/hub/config/structure.sql
  packages/hub/contract-subscription-event-handler.ts
  packages/hub/db/migrations/20211207190527999_create-latest-event-block.js
  packages/hub/main.ts
  packages/hub/node-tests/contract-subscription-event-handler-test.ts
  packages/hub/services/queries/latest-event-block.ts
Labels: enhancement, hub

#2496 hub: Fix autotest script
  packages/hub/package.json
Labels: bug, hub

#2516 web: Add log exclusion of expected cancelation
  packages/web-client/app/components/card-pay/issue-prepaid-card-workflow/preview/index.ts
Labels: bug, web

#2522 web: Change merchant to business in safe balance card
  packages/web-client/app/components/card-pay/safe-balance-card/index.ts
  packages/web-client/tests/acceptance/issue-prepaid-card-test.ts
  packages/web-client/tests/integration/components/card-pay/safe-balance-card-test.ts
Labels: bug, web

#2484 hub: Add preliminary status endpoint
  packages/hub/main.ts
  packages/hub/node-tests/routes/status-test.ts
  packages/hub/routes/status.ts
  packages/hub/services/api-router.ts
  packages/hub/services/subgraph.ts
  packages/hub/utils/jsonapi-document.ts
Labels: enhancement, hub

#2526 web: Add filter to not report unknown chain
  packages/web-client/app/utils/web3-strategies/layer1-chain.ts
Labels: bug, web

#2400 web: Add Card Space category chooser
  packages/hub/node-tests/routes/card-space-test.ts
  packages/hub/routes/card-spaces.ts
  packages/hub/services/api-router.ts
  packages/hub/services/validators/card-space.ts
  packages/web-client/app/components/card-pay/deposit-workflow/transaction-setup/token-option/index.css
  packages/web-client/app/components/card-pay/deposit-workflow/transaction-setup/token-option/index.hbs
  packages/web-client/app/components/card-pay/issue-prepaid-card-workflow/face-value/option/index.css
  packages/web-client/app/components/card-pay/issue-prepaid-card-workflow/face-value/option/index.hbs
  packages/web-client/app/components/card-space/create-space-workflow/details/index.css
  packages/web-client/app/components/card-space/create-space-workflow/details/index.hbs
  packages/web-client/app/components/card-space/edit-details/button-text/index.css
  packages/web-client/app/components/card-space/edit-details/button-text/index.hbs
  packages/web-client/app/components/card-space/edit-details/category/index.css
  packages/web-client/app/components/card-space/edit-details/category/index.hbs
  packages/web-client/app/components/card-space/edit-details/category/index.ts
  packages/web-client/app/components/card-space/edit-details/index.hbs
  packages/web-client/app/components/common/radio-option/index.css
  packages/web-client/app/components/common/radio-option/index.hbs
  packages/web-client/tests/acceptance/issue-prepaid-card-test.ts
  packages/web-client/tests/integration/components/card-pay/deposit-workflow/transaction-setup-test.ts
  packages/web-client/tests/integration/components/card-space/details/button-text-card-test.ts
  packages/web-client/tests/integration/components/card-space/details/category-card-test.ts
Labels: enhancement, web
