Repository cardstack/cardstack, pull requests merged in 2022-01, with the labels that each got.

#2542 web: Add link preview meta tags for pay routes
  packages/web-client/app/components/card-pay/merchant-payment-request-header/index.hbs
  packages/web-client/app/components/card-pay/merchant-payment-request-header/index.ts
  packages/web-client/app/templates/pay.hbs
  packages/web-client/package.json
  packages/web-client/public/images/logos/card-pay-logo.png
  packages/web-client/tests/acceptance/externally-used-assets-test.ts
  packages/web-client/tests/acceptance/pay-test.ts
  yarn.lock
Labels: enhancement, web

#2553 hub: Add Firebase config for deployments
  .github/workflows/manual-hub.yml
  .github/workflows/push-main.yml
Labels: bug, hub

#2556 hub: Remove Firebase config from deployment
  .github/workflows/manual-hub.yml
  .github/workflows/push-main.yml
Labels: bug, maintenance, hub

#2548 hub: Add documentation about required plugin
  packages/hub/README.md
Labels: bug, maintenance, hub

#2558 Don't close workflow modal when restarting a workflow
  packages/web-client/app/components/card-pay/create-merchant-workflow/index.hbs
  packages/web-client/app/components/card-pay/create-merchant-workflow/index.ts
  packages/web-client/app/components/card-pay/deposit-workflow/index.hbs
  packages/web-client/app/components/card-pay/deposit-workflow/index.ts
  packages/web-client/app/components/card-pay/issue-prepaid-card-workflow/index.hbs
  packages/web-client/app/components/card-pay/issue-prepaid-card-workflow/index.ts
  packages/web-client/app/components/card-pay/restorable-workflow-component/index.ts
  packages/web-client/app/components/card-pay/withdrawal-workflow/index.hbs
  packages/web-client/app/components/card-pay/withdrawal-workflow/index.ts
  packages/web-client/app/components/card-space/create-space-workflow/index.hbs
  packages/web-client/app/components/card-space/create-space-workflow/index.ts
  packages/web-client/app/components/workflow-thread/default-cancelation-cta/index.ts
  packages/web-client/app/components/workflow-thread/index.hbs
  packages/web-client/app/components/workflow-thread/index.ts
  packages/web-client/app/models/animated-workflow.ts
  packages/web-client/app/services/card-customization.ts
  packages/web-client/package.json
  packages/web-client/tsconfig.json
  yarn.lock
Labels: bug, web

#2545 Create Statuspage incidents when Checkly sends an alert
  packages/hub/config/custom-environment-variables.json
  packages/hub/config/default.cjs
  packages/hub/main.ts
  packages/hub/node-tests/routes/checkly-webhook-test.ts
  packages/hub/package.json
  packages/hub/routes/checkly-webhook.ts
  packages/hub/routes/status.ts
  packages/hub/services/api-router.ts
  packages/hub/services/callbacks-router.ts
  packages/hub/services/statuspage-api.ts
  yarn.lock
Labels: hub

#2559 web: Update Card Space next step to link to space
  packages/web-client/app/components/card-space/create-space-workflow/next-steps/index.ts
  packages/web-client/app/components/card-space/create-space-workflow/username/index.hbs
  packages/web-client/app/components/card-space/create-space-workflow/username/index.ts
  packages/web-client/app/router.ts
  packages/web-client/app/templates/card-space/userspace.hbs
  packages/web-client/tests/acceptance/create-card-space-test.ts
Labels: enhancement, web

#2567 Consolidate business/balances cards in Business and Deposit&Withdrawal routes
  packages/web-client/app/components/card-pay/merchant-card/index.css
  packages/web-client/app/components/card-pay/merchant-card/index.hbs
  packages/web-client/app/components/card-pay/merchant-safe/index.hbs
  packages/web-client/app/components/card-pay/merchant-safe/index.ts
  packages/web-client/app/components/card-pay/safe-balances/index.hbs
  packages/web-client/app/components/card-pay/safe/index.css
  packages/web-client/app/components/card-pay/safe/index.hbs
  packages/web-client/app/components/card-pay/safe/index.ts
  packages/web-client/app/templates/card-pay/deposit-withdrawal.hbs
  packages/web-client/app/templates/card-pay/payments.hbs
  packages/web-client/tests/acceptance/deposit-withdrawal-test.ts
  packages/web-client/tests/acceptance/payments-dashboard-test.ts
  packages/web-client/tests/integration/components/card-pay/safe-test.ts
Labels: web

#2569 web: Add preliminary Card Space subdomain routing
  packages/web-client/app/components/card-space/create-space-workflow/next-steps/index.hbs
  packages/web-client/app/components/card-space/create-space-workflow/next-steps/index.ts
  packages/web-client/app/config/environment.d.ts
  packages/web-client/app/router.ts
  packages/web-client/app/routes/index.ts
  packages/web-client/app/services/location.ts
  packages/web-client/app/templates/card-space/userspace.hbs
  packages/web-client/app/templates/view-card-space.hbs
  packages/web-client/config/environment.js
  packages/web-client/tests/acceptance/create-card-space-test.ts
  packages/web-client/tests/acceptance/visit-card-space-test.ts
Labels: enhancement, web

#2576 web: Change staging Card Space domain
  packages/web-client/config/environment.js
Labels: maintenance, web

#2581 web: Fix filtering of unknown network error
  packages/web-client/app/utils/web3-strategies/layer1-chain.ts
Labels: bug, web

#2596 hub: Update documentation for running components
  packages/hub/README.md
Labels: maintenance, hub

#2609 hub: Change Waypoint ALB listener
  waypoint.hcl
Labels: bug, hub

#2605 hub: Change incidents to have shorter names
  packages/hub/node-tests/routes/checkly-webhook-test.ts
  packages/hub/routes/checkly-webhook.ts
  packages/hub/services/statuspage-api.ts
  packages/web-client/app/services/degraded-service-detector.ts
  packages/web-client/tests/integration/components/degraded-service-banner-test.ts
  packages/web-client/tests/integration/components/workflow-thread-test.ts
Labels: bug, web, hub

#2614 Put card space preview in the workflow
  packages/boxel/addon/components/boxel/sidebar/card-container/index.css
  packages/boxel/addon/components/boxel/sidebar/index.css
  packages/web-client/app/components/card-space/create-space-workflow/index.hbs
  packages/web-client/app/components/card-space/create-space-workflow/index.ts
  packages/web-client/app/components/card-space/profile-card/index.css
  packages/web-client/app/components/workflow-thread/index.css
  packages/web-client/app/components/workflow-thread/index.hbs
  packages/web-client/app/modifiers/scale-down-to-width.ts
  packages/web-client/tests/acceptance/create-card-space-test.ts
  packages/web-client/tests/integration/components/workflow-thread-test.ts
Labels: web

#2617 web: Check maintenances for degraded service
  packages/web-client/app/config/environment.d.ts
  packages/web-client/app/services/degraded-service-detector.ts
  packages/web-client/config/environment.js
  packages/web-client/mirage/config.js
  packages/web-client/tests/integration/components/degraded-service-banner-test.ts
  packages/web-client/tests/integration/components/workflow-thread-test.ts
Labels: bug, web

#2594 Add business account selector to card space workflow
  packages/hub/node-tests/routes/merchant-infos-test.ts
  packages/hub/node-tests/utils/queries-test.ts
  packages/hub/routes/merchant-infos.ts
  packages/hub/services/api-router.ts
  packages/hub/services/queries/card-space.ts
  packages/hub/services/queries/merchant-info.ts
  packages/hub/services/serializers/merchant-info-serializer.ts
  packages/hub/utils/queries.ts
  packages/web-client/app/components/card-pay/hub-authentication/index.hbs
  packages/web-client/app/components/card-pay/hub-authentication/index.ts
  packages/web-client/app/components/card-pay/safe-chooser-dropdown/index.hbs
  packages/web-client/app/components/card-pay/safe-chooser-dropdown/safe-option/index.css
  packages/web-client/app/components/card-pay/safe-chooser-dropdown/safe-option/index.hbs
  packages/web-client/app/components/card-space/create-space-workflow/create-business-account-cta/index.hbs
  packages/web-client/app/components/card-space/create-space-workflow/create-business-account-cta/index.ts
  packages/web-client/app/components/card-space/create-space-workflow/index.ts
  packages/web-client/app/components/card-space/create-space-workflow/select-business-account/index.hbs
  packages/web-client/app/components/card-space/create-space-workflow/select-business-account/index.ts
  packages/web-client/app/components/common/forms/index.css
  packages/web-client/app/services/merchant-info.ts
  packages/web-client/mirage/config.js
  packages/web-client/tests/acceptance/create-card-space-persistence-test.ts
  packages/web-client/tests/acceptance/create-card-space-test.ts
  packages/web-client/tests/integration/components/card-pay/hub-authentication-test.ts
Labels: web

#2622 Hub health check improvements
  packages/hub/main.ts
  packages/hub/services/health-check.ts
Labels: hub

#2628 Fix for a bad merge
  packages/hub/main.ts
Labels: hub

#2632 CS-3023 Fix delegation of command line cardpay-cli args in standalone installed version
  packages/cardpay-cli/bin/cardpay
  packages/cardpay-cli/index.ts
Labels: bug

#2621 make session keys match hub CardSpace type
  packages/web-client/app/components/card-space/create-space-workflow/display-name/index.ts
  packages/web-client/app/components/card-space/create-space-workflow/index.ts
  packages/web-client/app/components/card-space/create-space-workflow/next-steps/index.ts
  packages/web-client/app/components/card-space/edit-details/button-text/index.ts
  packages/web-client/tests/integration/components/card-space/create-space-workflow/display-name-test.ts
  packages/web-client/tests/integration/components/card-space/details/button-text-card-test.ts
Labels: web

#2595 hub: Change spaces to belong to merchants
  packages/hub/config/structure.sql
  packages/hub/db/migrations/20220119232151260_space-belongs-to-merchant.ts
  packages/hub/node-tests/routes/card-space-test.ts
  packages/hub/node-tests/routes/merchant-infos-test.ts
  packages/hub/node-tests/services/card-space-validator-test.ts
  packages/hub/node-tests/utils/queries-test.ts
  packages/hub/routes/card-spaces.ts
  packages/hub/routes/utils/error.ts
  packages/hub/services/api-router.ts
  packages/hub/services/queries/card-space.ts
  packages/hub/services/serializers/card-space-serializer.ts
  packages/hub/services/validators/card-space.ts
  packages/hub/utils/queries.ts
Labels: enhancement, hub
