Repository cardstack/cardstack, pull requests merged in 2022-11, with the labels that each got.

#3384 [CS-4816]: Add supportedNetworks helpers on sdk
  packages/cardpay-sdk/index.ts
  packages/cardpay-sdk/sdk/constants.ts
  packages/cardpay-sdk/sdk/hub-config.ts
  packages/cardpay-sdk/sdk/network-config-utils.ts
  packages/cardpay-sdk/tests/network-config-utils-test.ts
  packages/hub/services/scheduled-payments/executor.ts
  packages/hub/services/validators/scheduled-payment.ts
  packages/hub/tasks/scheduled-payment-on-chain-creation-waiter.ts
  packages/hub/tasks/scheduled-payment-on-chain-execution-waiter.ts
Labels: sdk

#3370 Boxel::Input::Time component
  packages/boxel/addon/components/boxel/dropdown/index.gts
  packages/boxel/addon/components/boxel/dropdown/usage.gts
  packages/boxel/addon/components/boxel/input/time/index.css
  packages/boxel/addon/components/boxel/input/time/index.gts
  packages/boxel/addon/components/boxel/input/time/keyboard.ts
  packages/boxel/addon/components/boxel/input/time/usage.gts
  packages/boxel/addon/components/boxel/menu/index.css
  packages/boxel/addon/components/boxel/menu/index.gts
  packages/boxel/addon/components/boxel/menu/usage.gts
  packages/boxel/addon/helpers/menu-item.ts
  packages/boxel/addon/modifiers/register-element.ts
  packages/boxel/addon/styles/variables.css
  packages/boxel/package.json
  packages/boxel/tests/helpers/index.ts
  packages/boxel/tests/integration/components/boxel/input/time-test.gts
  packages/boxel/tests/integration/modifiers/autoscroll-test.js
  packages/boxel/tsconfig.json
  packages/boxel/types/ember-composable-helpers/helpers/map.d.ts
  packages/boxel/types/ember-keyboard/helpers/on-key.d.ts
  packages/boxel/types/ember-keyboard/test-support/test-helpers/index.d.ts
  packages/boxel/types/ember-set-helper/helpers/set.d.ts
  packages/ssr-web/package.json
  packages/web-client/package.json
  yarn.lock
Labels: enhancement

#3369 tools: Add preview deployments
  .github/workflows/pr-safe-tools-client.yml
  package.json
  packages/safe-tools-client/config/deploy.js
Labels: enhancement, safe-tools

#3390 hub: Add data integrity checks for scheduled payments
  packages/hub/main.ts
  packages/hub/node-tests/services/data-integrity-checks-test.ts
  packages/hub/services/data-integrity-checks/scheduled-payments.ts
Labels: hub

#3392 [CS-4824]: Adds support to different chains
  packages/cardpay-sdk/package.json
  packages/cardpay-sdk/sdk/constants.ts
  packages/cardpay-sdk/sdk/network-config-utils.ts
  packages/safe-tools-client/app/controllers/schedule.ts
  packages/safe-tools-client/app/services/network.ts
  packages/safe-tools-client/app/services/wallet.ts
  packages/safe-tools-client/app/templates/schedule.hbs
  packages/safe-tools-client/app/utils/chain-connection-manager.ts
  yarn.lock
Labels: enhancement, safe-tools

#3397 Improve typing of dynamic method lookup for keyboard handlers
  packages/boxel/addon/components/boxel/input/time/keyboard.ts
  packages/boxel/addon/utils/reflection.ts
Labels: internal

#3414 tools: Restore missing icons
  packages/boxel/addon/components/boxel/card-catalog-tray-item/usage.gts
  packages/boxel/addon/components/boxel/help-box/index.gts
  packages/boxel/addon/components/boxel/infobox/index.gts
  packages/boxel/addon/utils/svg-jar.ts
  packages/boxel/package.json
  packages/safe-tools-client/app/components/network-connect-modal/index.gts
  packages/ssr-web/package.json
  packages/web-client/app/components/card-pay/layer-connect-modal/index.hbs
  packages/web-client/package.json
  yarn.lock
Labels: bug, dependencies, safe-tools

#3418 tools: Add Percy
  .github/workflows/pr-safe-tools-client.yml
  .github/workflows/push-main.yml
  package.json
  packages/safe-tools-client/.eslintrc.js
  packages/safe-tools-client/.percy.js
  packages/safe-tools-client/package.json
  packages/safe-tools-client/tests/acceptance/wallet-connection-test.ts
Labels: enhancement, safe-tools

#3422 tools: Fix deployment
  .github/actions/deploy-safe-tools-client/action.yml
  packages/safe-tools-client/config/deploy.js
Labels: bug, safe-tools

#3400 hub: Add data integrity checks route
  packages/hub/config/test.cjs
  packages/hub/main.ts
  packages/hub/node-tests/routes/data-integrity-checks-test.ts
  packages/hub/routes/data-integrity-checks.ts
  packages/hub/services/api-router.ts
  packages/hub/services/data-integrity-checks/scheduled-payments.ts
Labels: hub

#3421 [Feat]: Calculate gas estimate and balance on `Create Safe` click
  packages/safe-tools-client/app/components/create-safe-button/index.gts
  packages/safe-tools-client/app/components/setup-safe-modal/index.css
  packages/safe-tools-client/app/components/setup-safe-modal/index.gts
  packages/safe-tools-client/app/controllers/schedule.ts
  packages/safe-tools-client/app/services/scheduled-payments-sdk.ts
  packages/safe-tools-client/app/services/wallet.ts
  packages/safe-tools-client/app/templates/schedule.hbs
  packages/safe-tools-client/app/utils/chain-connection-manager.ts
  packages/safe-tools-client/package.json
  yarn.lock
Labels: safe-tools

#3430 sdk: Add a function for fetching safes with sp module enabled
  packages/cardpay-sdk/index.ts
  packages/cardpay-sdk/sdk/constants.ts
  packages/cardpay-sdk/sdk/scheduled-payment/safes.ts
Labels: sdk

#3432 [CS-4866]: Fix signing on metamask extension
  packages/cardpay-sdk/sdk/utils/signing-utils.ts
Labels: bug, sdk

#3442 Update checkly check name for non-archive node
  packages/hub/routes/checkly-webhook.ts
Labels: bug

#3444 Missed a debugging artifact
  packages/safe-tools-client/app/helpers/with-token-icons.ts
Labels: chore

#3443 Update gas estimation to create a safe
  packages/cardpay-sdk/index.ts
  packages/cardpay-sdk/sdk/scheduled-payment-module.ts
  packages/cardpay-sdk/sdk/utils/conversions.ts
Labels: sdk

#3438 Add token lists for chains being supported for scheduled payments
  packages/cardpay-sdk/package.json
  packages/cardpay-sdk/sdk/constants.ts
  packages/cardpay-sdk/token-lists/ethereum-tokenlist.json
  packages/cardpay-sdk/token-lists/goerli-tokenlist.json
  packages/cardpay-sdk/token-lists/mumbai-tokenlist.json
  packages/cardpay-sdk/token-lists/polygon-tokenlist.json
  packages/cardpay-sdk/tsconfig.json
  packages/safe-tools-client/tsconfig.json
  packages/ssr-web/tsconfig.json
  packages/web-client/tsconfig.json
  yarn.lock
Labels: enhancement

#3450 Add support for remotely hosted icons to Boxel::Input::SelectableToken
  packages/boxel/addon/components/boxel/input/selectable-token-amount/index.css
  packages/boxel/addon/components/boxel/input/selectable-token-amount/index.gts
  packages/boxel/addon/components/boxel/input/selectable-token-amount/item/index.gts
  packages/boxel/addon/components/boxel/input/selectable-token-amount/usage.gts
Labels: enhancement

#3447 [Networks]: Remove xdai, drop sokol/gnosis scheduler support and improve types
  packages/cardpay-cli/README.md
  packages/cardpay-cli/utils.ts
  packages/cardpay-sdk/contracts/addresses.ts
  packages/cardpay-sdk/sdk/constants.ts
  packages/cardpay-sdk/sdk/network-config-utils.ts
  packages/cardpay-sdk/sdk/safes.ts
  packages/cardpay-sdk/sdk/utils/conversions.ts
  packages/cardpay-sdk/sdk/utils/merchant.ts
  packages/cardpay-sdk/tests/constants-test.ts
  packages/cardpay-sdk/tests/network-config-utils-test.ts
  packages/hub/node-tests/tasks/create-profile-test.ts
  packages/hub/services/discord-bots/hub-bot/services/wallet-connect.ts
  packages/hub/services/validators/scheduled-payment.ts
  packages/safe-tools-client/app/services/network.ts
  packages/safe-tools-client/app/services/wallet.ts
  packages/ssr-web/app/routes/pay.ts
Labels: sdk, safe-tools, enhacement

#3448 sdk: Update the crank when canceling a scheduled payment
  packages/cardpay-cli/scheduled-payment/cancel.ts
  packages/cardpay-sdk/sdk/scheduled-payment-module.ts
  packages/cardpay-sdk/sdk/scheduled-payment/utils.ts
  packages/hub/node-tests/routes/scheduled-payments-test.ts
  packages/hub/node-tests/tasks/scheduled-payment-on-chain-cancelation-waiter-test.ts
  packages/hub/routes/scheduled-payments.ts
  packages/hub/tasks/index.ts
  packages/hub/tasks/scheduled-payment-on-chain-cancelation-waiter.ts
  packages/hub/worker.ts
Labels: sdk

#3452 [safe-tools-client] Show correct token list based on network
  packages/boxel/addon/components/boxel/input-group/accessories/index.gts
  packages/boxel/addon/components/boxel/input/selectable-token-amount/index.gts
  packages/boxel/addon/components/boxel/input/selectable-token-item/index.gts
  packages/boxel/addon/components/boxel/input/token-select/index.gts
  packages/boxel/addon/components/boxel/select/index.gts
  packages/boxel/addon/components/boxel/select/usage.gts
  packages/cardpay-sdk/token-lists/ethereum-tokenlist.json
  packages/cardpay-sdk/token-lists/goerli-tokenlist.json
  packages/cardpay-sdk/token-lists/mumbai-tokenlist.json
  packages/cardpay-sdk/token-lists/polygon-tokenlist.json
  packages/safe-tools-client/app/components/schedule-payment-form-action-card/index.gts
  packages/safe-tools-client/app/services/network.ts
  packages/safe-tools-client/app/services/tokens.ts
  packages/safe-tools-client/package.json
Labels: enhancement

#3456 Schedule payment transaction token should start off with nothing selected
  packages/boxel/addon/components/boxel/input/selectable-token-amount/index.gts
  packages/boxel/addon/components/boxel/input/selectable-token-amount/usage.gts
  packages/safe-tools-client/app/components/schedule-payment-form-action-card/index.gts
  packages/safe-tools-client/tests/integration/schedule-payment-form-action-card-test.ts
Labels: enhancement

#3455 [CS-4908]: Update polygon/mumbai apiBaseUrl
  packages/cardpay-sdk/sdk/constants.ts
Labels: sdk

#3453 [CS-4901] Add gas estimation endpoint
  .vscode/launch.json
  packages/cardpay-cli/scheduled-payment/estimate-execution.ts
  packages/cardpay-cli/scheduled-payment/estimate-gas.ts
  packages/cardpay-cli/scheduled-payment/index.ts
  packages/cardpay-sdk/index.ts
  packages/cardpay-sdk/sdk/scheduled-payment-module.ts
  packages/cardpay-sdk/sdk/scheduled-payment/utils.ts
  packages/cardpay-sdk/sdk/utils/conversions.ts
  packages/hub/config/custom-environment-variables.json
  packages/hub/config/default.cjs
  packages/hub/config/structure.sql
  packages/hub/db/migrations/20221121080727272_create-gas-estimation-results.ts
  packages/hub/main.ts
  packages/hub/node-tests/routes/gas-estimation-test.ts
  packages/hub/node-tests/services/crank-nonce-lock-test.ts
  packages/hub/node-tests/services/gas-estimation/estimation-test.ts
  packages/hub/node-tests/services/gas-estimation/validator-test.ts
  packages/hub/prisma/schema.prisma
  packages/hub/routes/gas-estimation.ts
  packages/hub/services/api-router.ts
  packages/hub/services/gas-estimation.ts
  packages/hub/services/serializers/gas-estimation-result-serializer.ts
  packages/hub/services/validators/gas-estimation.ts
  packages/safe-tools-client/app/services/scheduled-payments-sdk.ts
  waypoint.hcl
  waypoint.prod.hcl
Labels: hub

#3461 Returns the range of gas prices in USD
  packages/cardpay-cli/scheduled-payment/estimate-gas.ts
  packages/cardpay-sdk/contracts/addresses.ts
  packages/cardpay-sdk/index.ts
  packages/cardpay-sdk/sdk/scheduled-payment-module.ts
  packages/cardpay-sdk/sdk/utils/conversions.ts
Labels: sdk
