Repository cardstack/cardstack, pull requests merged in 2022-10, with the labels that each got.

#3287 [CS-4680]: Move scattered around select animations to single component
  packages/boxel/addon/components/boxel/card-picker/index.css
  packages/boxel/addon/components/boxel/select/index.css
  packages/boxel/addon/components/boxel/select/usage.gts
  packages/boxel/tests/dummy/app/css/components/queue.css
  packages/ssr-web/app/styles/app.css
  packages/web-client/app/components/card-pay/balance-chooser-dropdown/index.css
  packages/web-client/app/components/card-pay/safe-chooser-dropdown/index.css
  packages/web-client/app/styles/app.css
Labels: web, boxel, internal

#3292 web: Remove miscommitted debugger statement
  packages/web-client/app/components/card-pay/header/workflow-tracker/item/index.gts
Labels: bug, web

#3289 [CS-4652]: Add scheduled payment client to monorepo
  .github/workflows/pr-compiler.yml
  .github/workflows/pr-scheduled-payments-web.yml
  package.json
  packages/scheduled-payments-client/.editorconfig
  packages/scheduled-payments-client/.ember-cli
  packages/scheduled-payments-client/.eslintignore
  packages/scheduled-payments-client/.eslintrc.js
  packages/scheduled-payments-client/.gitignore
  packages/scheduled-payments-client/.prettierignore
  packages/scheduled-payments-client/.prettierrc.js
  packages/scheduled-payments-client/.template-lintrc.js
  packages/scheduled-payments-client/.watchmanconfig
  packages/scheduled-payments-client/README.md
  packages/scheduled-payments-client/app/app.js
  packages/scheduled-payments-client/app/components/.gitkeep
  packages/scheduled-payments-client/app/components/glint-test-component.gts
  packages/scheduled-payments-client/app/config/environment.d.ts
  packages/scheduled-payments-client/app/controllers/.gitkeep
  packages/scheduled-payments-client/app/helpers/.gitkeep
  packages/scheduled-payments-client/app/index.html
  packages/scheduled-payments-client/app/models/.gitkeep
  packages/scheduled-payments-client/app/router.ts
  packages/scheduled-payments-client/app/routes/.gitkeep
  packages/scheduled-payments-client/app/styles/app.css
  packages/scheduled-payments-client/app/templates/application.hbs
  packages/scheduled-payments-client/config/ember-cli-update.json
  packages/scheduled-payments-client/config/environment.js
  packages/scheduled-payments-client/config/optional-features.json
  packages/scheduled-payments-client/config/targets.js
  packages/scheduled-payments-client/ember-cli-build.js
  packages/scheduled-payments-client/package.json
  packages/scheduled-payments-client/public/robots.txt
  packages/scheduled-payments-client/testem.js
  packages/scheduled-payments-client/tests/helpers/index.js
  packages/scheduled-payments-client/tests/index.html
  packages/scheduled-payments-client/tests/integration/.gitkeep
  packages/scheduled-payments-client/tests/test-helper.js
  packages/scheduled-payments-client/tests/unit/.gitkeep
  packages/scheduled-payments-client/tsconfig.json
  packages/scheduled-payments-client/types/global.d.ts
  packages/scheduled-payments-client/types/scheduled-payments-client/index.d.ts
  scripts/typecheck-all.sh
  yarn.lock
Labels: chore, sch-pay-client

#3290 Add Boxel::InputGroup and copy-to-clipboard helper
  packages/boxel/addon/components/boxel/input-group/accessories/index.gts
  packages/boxel/addon/components/boxel/input-group/controls/index.gts
  packages/boxel/addon/components/boxel/input-group/index.css
  packages/boxel/addon/components/boxel/input-group/index.gts
  packages/boxel/addon/components/boxel/input-group/usage.gts
  packages/boxel/addon/components/boxel/select/index.gts
  packages/boxel/addon/helpers/copy-to-clipboard.ts
  packages/boxel/public/images/icons/copy.svg
  packages/boxel/tests/integration/components/boxel/input-group-test.js
Labels: enhancement

#3303 Update ember-template-imports
  packages/boxel/addon/components/boxel/cover-art/index.gts
  packages/boxel/addon/components/boxel/progress-circle/index.gts
  packages/boxel/addon/components/boxel/wave-player/index.gts
  packages/boxel/package.json
  packages/safe-tools-client/package.json
  packages/ssr-web/package.json
  packages/web-client/package.json
  yarn.lock
Labels: bug, web, dependencies, boxel, ssr, safe-tools

#3296 tools: Add layout
  packages/boxel/addon/components/boxel/org-header/index.gts
  packages/boxel/addon/components/boxel/org-header/usage.gts
  packages/boxel/addon/components/boxel/org-title/index.css
  packages/boxel/addon/components/boxel/org-title/index.gts
  packages/boxel/addon/components/boxel/org-title/usage.gts
  packages/boxel/public/images/icons/calendar.svg
  packages/boxel/public/images/icons/network.svg
  packages/boxel/public/images/icons/safe.svg
  packages/boxel/public/images/icons/wallet.svg
  packages/safe-tools-client/app/css/app.css
  packages/safe-tools-client/app/router.ts
  packages/safe-tools-client/app/routes/index.ts
  packages/safe-tools-client/app/templates/application.hbs
  packages/safe-tools-client/app/templates/schedule.hbs
  packages/safe-tools-client/public/dashboard/cardstack-logo.svg
  packages/safe-tools-client/public/dashboard/tab-icon-pay.svg
  packages/safe-tools-client/public/dashboard/tab-icon-split.svg
  packages/safe-tools-client/tests/acceptance/accessibility-test.ts
Labels: enhancement, safe-tools

#3304 [CS-4711]: Add schedule collapsible panel
  packages/safe-tools-client/app/components/schedule-collapse-panel/index.css
  packages/safe-tools-client/app/components/schedule-collapse-panel/index.gts
  packages/safe-tools-client/public/images/backgrounds/schedule-panel.svg
  packages/safe-tools-client/public/images/icons/checked.svg
  packages/safe-tools-client/public/images/icons/non-custodial.svg
  packages/safe-tools-client/public/images/icons/punctual.svg
Labels: enhancement, safe-tools

#3314 Upgrade to glint 0.9.5
  packages/boxel/package.json
  packages/safe-tools-client/package.json
  packages/ssr-web/package.json
  packages/web-client/package.json
  yarn.lock
Labels: web, chore

#3316 Add @value arg to ToggleButtonGroup to facilitate data-down/actions-up
  packages/boxel/addon/components/boxel/toggle-button-group/index.gts
  packages/boxel/addon/components/boxel/toggle-button-group/usage.gts
Labels: enhancement, web

#3317 tools: Add declarations for images
  packages/safe-tools-client/app/declarations.d.ts
Labels: enhancement, safe-tools

#3315 Remove "Actions only visible to you" from ActionChin
  packages/boxel/addon/components/boxel/action-chin/index.css
  packages/boxel/addon/components/boxel/action-chin/index.gts
  packages/boxel/addon/components/boxel/action-chin/usage.gts
  packages/boxel/tests/integration/components/boxel/action-chin-test.js
Labels: web, enhacement

#3318 Boxel::ActionContainer now yields a Section component
  packages/boxel/addon/components/boxel/action-container/index.css
  packages/boxel/addon/components/boxel/action-container/index.gts
  packages/boxel/addon/components/boxel/action-container/section/index.css
  packages/boxel/addon/components/boxel/action-container/section/index.gts
  packages/boxel/addon/components/boxel/action-container/section/title/index.css
  packages/boxel/addon/components/boxel/action-container/section/title/index.gts
  packages/boxel/addon/components/boxel/action-container/usage.gts
  packages/boxel/tests/integration/components/boxel/action-container-test.js
Labels: enhancement

#3311 [CS-4724]: Add ScheduleCollpsePanel to safe-tools schedule tab
  packages/safe-tools-client/app/components/glint-test-component.gts
  packages/safe-tools-client/app/components/schedule-collapse-panel/index.css
  packages/safe-tools-client/app/components/schedule-collapse-panel/index.gts
  packages/safe-tools-client/app/css/schedule.css
  packages/safe-tools-client/app/routes/index.ts
  packages/safe-tools-client/app/templates/schedule.hbs
  packages/safe-tools-client/tests/acceptance/accessibility-test.ts
Labels: web, safe-tools

#3319 sdk: calculate current gas price in provided token
  packages/cardpay-sdk/contracts/addresses.ts
  packages/cardpay-sdk/index.ts
  packages/cardpay-sdk/package.json
  packages/cardpay-sdk/sdk/constants.ts
  packages/cardpay-sdk/sdk/utils/conversions.ts
  packages/hub/package.json
  packages/hub/webpack.config.ts
  yarn.lock
Labels: sdk

#3320 [CS-4657]: Create SetupSafeModal UI
  packages/boxel/addon/components/boxel/action-chin/index.gts
  packages/boxel/addon/components/boxel/action-container/index.css
  packages/boxel/addon/components/boxel/action-container/index.gts
  packages/boxel/addon/components/boxel/action-container/usage.gts
  packages/boxel/addon/components/boxel/card-catalog-tray-item/index.css
  packages/boxel/addon/components/boxel/progress-icon/index.css
  packages/boxel/public/images/icons/icon-check-circle-ht.svg
  packages/boxel/tests/integration/components/boxel/action-container-test.js
  packages/safe-tools-client/app/components/setup-safe-modal/index.css
  packages/safe-tools-client/app/components/setup-safe-modal/index.gts
  packages/safe-tools-client/app/controllers/schedule.ts
  packages/safe-tools-client/app/css/schedule.css
  packages/safe-tools-client/app/routes/index.ts
  packages/safe-tools-client/app/templates/schedule.hbs
  packages/safe-tools-client/tests/unit/controllers/schedule-test.ts
  packages/web-client/app/components/card-pay/header/workflow-tracker/item/index.css
Labels: web, safe-tools

#3329 [safe-tools]: Update setup safe modal UI
  packages/boxel/public/images/icons/icon-x-circle-ht.svg
  packages/boxel/types/ember-composable-helpers/helpers/noop.d.ts
  packages/safe-tools-client/app/components/setup-safe-modal/index.css
  packages/safe-tools-client/app/components/setup-safe-modal/index.gts
  packages/safe-tools-client/app/controllers/schedule.ts
  packages/safe-tools-client/app/templates/schedule.hbs
  packages/safe-tools-client/package.json
  yarn.lock
Labels: web, safe-tools

#3324 Update ember-freestyle and use new CSS Vars documentation feature in Boxel
  packages/boxel/addon/components/boxel/action-chin/usage.gts
  packages/boxel/addon/components/boxel/card-picker/index.css
  packages/boxel/addon/components/boxel/control-panel/index.css
  packages/boxel/addon/components/boxel/dashboard/index.css
  packages/boxel/addon/components/boxel/dashboard/usage.gts
  packages/boxel/addon/components/boxel/expandable-banner/index.css
  packages/boxel/addon/components/boxel/expandable-banner/index.gts
  packages/boxel/addon/components/boxel/expandable-banner/usage.gts
  packages/boxel/addon/components/boxel/field/index.css
  packages/boxel/addon/components/boxel/field/usage.gts
  packages/boxel/addon/components/boxel/header/index.css
  packages/boxel/addon/components/boxel/icon-button/index.css
  packages/boxel/addon/components/boxel/icon-button/usage.gts
  packages/boxel/addon/components/boxel/infobox/index.css
  packages/boxel/addon/components/boxel/infobox/usage.gts
  packages/boxel/addon/components/boxel/input-group/usage.gts
  packages/boxel/addon/components/boxel/input/ranged-number-picker/index.css
  packages/boxel/addon/components/boxel/input/selectable-token-amount/usage.gts
  packages/boxel/addon/components/boxel/input/usage.gts
  packages/boxel/addon/components/boxel/modal/index.css
  packages/boxel/addon/components/boxel/modal/usage.gts
  packages/boxel/addon/components/boxel/org-header/index.css
  packages/boxel/addon/components/boxel/org-header/usage.gts
  packages/boxel/addon/components/boxel/org-title/index.css
  packages/boxel/addon/components/boxel/org-title/usage.gts
  packages/boxel/addon/components/boxel/radio-input/container/index.css
  packages/boxel/addon/components/boxel/radio-input/index.css
  packages/boxel/addon/components/boxel/radio-input/index.gts
  packages/boxel/addon/components/boxel/radio-input/item/index.css
  packages/boxel/addon/components/boxel/radio-input/usage.gts
  packages/boxel/addon/components/boxel/searchbox/usage.hbs
  packages/boxel/addon/components/boxel/searchbox/usage.ts
  packages/boxel/addon/components/boxel/select/index.css
  packages/boxel/addon/components/boxel/select/usage.gts
  packages/boxel/addon/components/boxel/tab-bar/usage.gts
  packages/boxel/addon/components/boxel/thread-message/usage.gts
  packages/boxel/addon/helpers/css-var.ts
  packages/boxel/package.json
  packages/boxel/tests/dummy/app/css/components/isolated-collection-table.css
  packages/boxel/tests/dummy/app/css/components/queue.css
  packages/boxel/tests/dummy/app/css/templates/media-registry/item.css
  packages/boxel/tests/dummy/app/index.html
  packages/web-client/app/components/card-pay/header/index.css
  yarn.lock
Labels: web, boxel

#3333 Add css var for aligning BoxelField label text
  packages/boxel/addon/components/boxel/field/index.css
  packages/boxel/addon/components/boxel/field/index.gts
  packages/boxel/addon/components/boxel/field/usage.gts
Labels: enhancement

#3335 Refactor Boxel::Input::SelectableToken::Amount to use Boxel::InputGroup
  packages/boxel/addon/components/boxel/input-group/index.css
  packages/boxel/addon/components/boxel/input-group/index.gts
  packages/boxel/addon/components/boxel/input-group/usage.gts
  packages/boxel/addon/components/boxel/input/index.css
  packages/boxel/addon/components/boxel/input/selectable-token-amount/index.css
  packages/boxel/addon/components/boxel/input/selectable-token-amount/index.gts
  packages/boxel/addon/components/boxel/input/selectable-token-amount/usage.gts
  packages/boxel/addon/styles/variables.css
Labels: internal

#3339 Set @matchTriggerWidth to false for Boxel::Select
  packages/boxel/addon/components/boxel/select/index.gts
Labels: enhancement

#3340 Add Boxel::Input::TokenSelect component
  packages/boxel/addon/components/boxel/input-group/index.css
  packages/boxel/addon/components/boxel/input/index.css
  packages/boxel/addon/components/boxel/input/selectable-token-amount/index.gts
  packages/boxel/addon/components/boxel/input/selectable-token-amount/usage.gts
  packages/boxel/addon/components/boxel/input/selectable-token.ts
  packages/boxel/addon/components/boxel/input/token-select/index.css
  packages/boxel/addon/components/boxel/input/token-select/index.gts
  packages/boxel/addon/components/boxel/input/token-select/usage.gts
  packages/boxel/addon/styles/variables.css
Labels: enhancement

#3302 Basic UI of schedule payment form
  packages/boxel/addon/components/boxel/action-chin/index.gts
  packages/boxel/addon/components/boxel/input/index.gts
  packages/boxel/addon/components/boxel/input/selectable-token-amount/index.css
  packages/boxel/addon/components/boxel/input/selectable-token-amount/index.gts
  packages/boxel/addon/components/boxel/radio-input/index.gts
  packages/boxel/addon/components/boxel/select/index.gts
  packages/boxel/public/images/icons/info.svg
  packages/safe-tools-client/app/components/schedule-payment-form-action-card/index.css
  packages/safe-tools-client/app/components/schedule-payment-form-action-card/index.gts
  packages/safe-tools-client/app/css/schedule.css
  packages/safe-tools-client/app/templates/schedule.hbs
  packages/safe-tools-client/ember-cli-build.js
  packages/safe-tools-client/package.json
  packages/web-client/app/components/card-pay/deposit-workflow/index.hbs
  packages/web-client/app/components/card-pay/issue-prepaid-card-workflow/index.hbs
  packages/web-client/app/components/card-pay/withdrawal-workflow/index.hbs
  packages/web-client/public/images/icons/info-blue.svg
  yarn.lock
Labels: web

#3349 tools: Fix deployment detection
  .github/workflows/push-main.yml
Labels: bug, safe-tools

#3348 tools: Add production application global export
  packages/safe-tools-client/config/environment.js
Labels: enhancement, safe-tools

#3350 tools: Fix deployment name in Discord message
  .github/actions/deploy-safe-tools-client/action.yml
Labels: bug, safe-tools

#3356 Fix border color of input group select accessory when disabled
  packages/boxel/addon/components/boxel/input-group/index.css
Labels: bug, web, safe-tools

#3359 boxel: Fix lint script
  package.json
Labels: bug, testing, boxel

#3357 [CS-4662]: Add token list on deposit modal
  packages/safe-tools-client/app/components/deposit-modal/index.css
  packages/safe-tools-client/app/components/deposit-modal/index.gts
  packages/safe-tools-client/app/controllers/schedule.ts
  packages/safe-tools-client/app/templates/schedule.hbs
Labels: enhancement, safe-tools

#3341 tools: Add support for connecting
  packages/boxel/public/images/icons/icon-circle.svg
  packages/safe-tools-client/app/components/connect-button/index.gts
  packages/safe-tools-client/app/components/network-connect-modal/index.gts
  packages/safe-tools-client/app/config/environment.d.ts
  packages/safe-tools-client/app/controllers/schedule.ts
  packages/safe-tools-client/app/css/schedule.css
  packages/safe-tools-client/app/services/wallet.ts
  packages/safe-tools-client/app/templates/schedule.hbs
  packages/safe-tools-client/app/utils/browser-mocks.ts
  packages/safe-tools-client/app/utils/chain-connection-manager.ts
  packages/safe-tools-client/app/utils/events.ts
  packages/safe-tools-client/app/utils/typed-channel.ts
  packages/safe-tools-client/app/utils/wc-connector.ts
  packages/safe-tools-client/config/environment.js
  packages/safe-tools-client/ember-cli-build.js
  packages/safe-tools-client/package.json
  packages/safe-tools-client/tsconfig.json
Labels: enhancement, safe-tools

#3367 Remove dist dirs that shouldn't have been committed
  package.json
  packages/ember-shared/addon/dist/glint.d.ts
  packages/ember-shared/addon/dist/glint.d.ts.map
  packages/ember-shared/addon/dist/glint.js
  packages/ember-shared/addon/dist/glint.js.map
  packages/ember-shared/addon/dist/helpers/truncate-middle.d.ts
  packages/ember-shared/addon/dist/helpers/truncate-middle.js
  packages/ember-shared/addon/dist/helpers/truncate-middle.js.map
  packages/ember-shared/addon/dist/index.d.ts
  packages/ember-shared/addon/dist/index.js
  packages/ember-shared/addon/dist/index.js.map
Labels: internal

#3368 Add boxel-component blueprint
  packages/boxel/.eslintrc.js
  packages/boxel/.stylelintrc.js
  packages/boxel/README.md
  packages/boxel/blueprints/boxel-component-addon/.gitkeep
  packages/boxel/blueprints/boxel-component-test/files/tests/integration/components/boxel/__name__-test.gts
  packages/boxel/blueprints/boxel-component-test/index.js
  packages/boxel/blueprints/boxel-component/files/__root__/components/boxel/__name__/index.css
  packages/boxel/blueprints/boxel-component/files/__root__/components/boxel/__name__/index.gts
  packages/boxel/blueprints/boxel-component/files/__root__/components/boxel/__name__/usage.gts
  packages/boxel/blueprints/boxel-component/index.js
  packages/boxel/package.json
  packages/boxel/tsconfig.json
Labels: internal

#3374 [CS-4798]: Add action to disconnect wallet
  packages/safe-tools-client/app/components/connect-button/index.gts
  packages/safe-tools-client/app/services/wallet.ts
Labels: safe-tools, enhacement

#3375 [CS-4802][safe-tools]: Connect modal features
  packages/safe-tools-client/app/components/network-connect-modal/index.css
  packages/safe-tools-client/app/components/network-connect-modal/index.gts
  packages/safe-tools-client/app/services/wallet.ts
Labels: enhancement, safe-tools

#3377 [CS-4561]: Return empty inventory to disable fiatOnRamp
  packages/hub/routes/inventory.ts
Labels: hub
