Repository cardstack/cardstack, pull requests merged in 2022-02, with the labels that each got.

#2631 Show Card Space URL in the preview
  packages/web-client/app/components/card-space/create-space-workflow/index.ts
  packages/web-client/app/components/card-space/create-space-workflow/select-business-account/index.ts
  packages/web-client/app/utils/test-factories.ts
  packages/web-client/tests/acceptance/create-card-space-test.ts
Labels: web

#2641 [CS-3029] Refactor componentInfos to be on own key in CompiledCard
  packages/cardhost/app/lib/builder.ts
  packages/cardhost/tests/@core/compiler-adoption-test.ts
  packages/cardhost/tests/@core/compiler-basics-test.ts
  packages/core/src/compiler.ts
  packages/core/src/glimmer-plugin-card-template.ts
  packages/core/src/interfaces.ts
  packages/core/src/serializers/raw-card-deserializer.ts
  packages/core/src/serializers/raw-card-serializer.ts
  packages/core/src/utils/fields.ts
  packages/hub/lib/card-model-for-hub.ts
  packages/hub/node-tests/@core/compiler-test.ts
  packages/hub/node-tests/routes/sources/get-test.ts
  packages/hub/services/search-index.ts
Labels: compiler

#2647 Simplified test setup for card rendering
  packages/cardhost/tests/@core/compiler-adoption-test.ts
  packages/cardhost/tests/@core/compiler-basics-test.ts
  packages/cardhost/tests/acceptance/card-create-test.ts
  packages/cardhost/tests/acceptance/card-edit-test.ts
  packages/cardhost/tests/acceptance/card-routing-test.ts
  packages/cardhost/tests/helpers/setup-builder.ts
  packages/cardhost/tests/helpers/setup.ts
  packages/cardhost/tests/integration/card-service-test.ts
  packages/cardhost/tests/integration/rendering-test.ts
Labels: compiler

#2644 Card Space: Remove URL reservation badge and copy mentioning payment
  packages/web-client/app/components/card-space/create-space-workflow/badge/index.css
  packages/web-client/app/components/card-space/create-space-workflow/badge/index.hbs
  packages/web-client/app/components/card-space/create-space-workflow/badge/index.ts
  packages/web-client/app/components/card-space/create-space-workflow/index.ts
  packages/web-client/public/images/illustrations/card-space-reservation.svg
  packages/web-client/tests/acceptance/create-card-space-test.ts
Labels: web

#2661 web: Fix missed supportURL conversion
  packages/web-client/app/components/card-pay/create-merchant-workflow/prepaid-card-choice/index.hbs
Labels: bug, web

#2662 ci: Fix commands that mask linting errors
  package.json
Labels: bug, testing

#2660 web: Remove TestFlight, add Google store links
  packages/web-client/app/components/card-pay/layer-connect-modal/index.hbs
  packages/web-client/app/components/card-pay/layer-two-connect-card/index.css
  packages/web-client/app/components/card-pay/layer-two-connect-card/index.hbs
  packages/web-client/app/components/card-pay/layer-two-connect-card/index.ts
  packages/web-client/app/components/card-pay/merchant-payment-request-card/index.css
  packages/web-client/app/components/card-pay/merchant-payment-request-card/index.hbs
  packages/web-client/app/components/card-pay/merchant-payment-request-card/index.ts
  packages/web-client/app/components/card-pay/merchant-payment-request-header/index.ts
  packages/web-client/app/components/common/card-wallet-badges/index.css
  packages/web-client/app/components/common/card-wallet-badges/index.hbs
  packages/web-client/app/components/common/card-wallet-badges/index.ts
  packages/web-client/app/config/environment.d.ts
  packages/web-client/app/controllers/card-pay/wallet.ts
  packages/web-client/app/css/card-pay/wallet.css
  packages/web-client/app/templates/card-pay/wallet.hbs
  packages/web-client/config/environment.js
  packages/web-client/public/images/cardstack-mobile-app-phone.png
  packages/web-client/public/images/cardstack-mobile-app-phone@2x.png
  packages/web-client/public/images/icons/test-flight-icon.svg
  packages/web-client/tests/integration/components/card-pay/merchant-payment-request-card-test.ts
Labels: enhancement, web

#2620 Render user into card space template
  packages/web-client/README.md
  packages/web-client/app/controllers/card-space/index.ts
  packages/web-client/app/controllers/index.ts
  packages/web-client/app/router.ts
  packages/web-client/app/routes/application.ts
  packages/web-client/app/routes/card-space/index.ts
  packages/web-client/app/routes/index.ts
  packages/web-client/app/templates/card-space.hbs
  packages/web-client/app/templates/card-space/index.hbs
  packages/web-client/config/environment.js
  packages/web-client/tests/acceptance/visit-card-space-test.ts
Labels: web

#2664 ci: Fix Hub bot tests
  package.json
Labels: bug, testing, hub

#2645 web: Change Card Space subdomains to use config
  packages/web-client/app/components/card-space/create-space-workflow/index.ts
  packages/web-client/app/components/card-space/create-space-workflow/select-business-account/index.hbs
  packages/web-client/app/components/card-space/create-space-workflow/select-business-account/index.ts
  packages/web-client/app/components/card-space/edit-details/url/index.hbs
  packages/web-client/app/components/card-space/edit-details/url/index.ts
  packages/web-client/app/components/card-space/profile-card/index.hbs
  packages/web-client/app/components/card-space/profile-card/index.ts
  packages/web-client/tests/acceptance/create-card-space-test.ts
  packages/web-client/tests/integration/components/card-space/profile-card-test.ts
Labels: bug, web

#2651 Computing fields in cardhost
  packages/cardhost/app/components/card-modal/index.hbs
  packages/cardhost/app/lib/builder.ts
  packages/cardhost/app/lib/card-model-for-browser.ts
  packages/cardhost/app/routes/delegate.ts
  packages/cardhost/app/services/cards.ts
  packages/cardhost/app/services/modal.ts
  packages/cardhost/app/templates/delegate.hbs
  packages/cardhost/tests/@core/card-model-test.ts
  packages/cardhost/tests/helpers/lookup.ts
  packages/cardhost/tests/helpers/setup.ts
  packages/cardhost/tests/integration/card-service-test.ts
  packages/cardhost/tests/integration/rendering-test.ts
  packages/core/src/babel-plugin-card-template.ts
  packages/core/src/interfaces.ts
  packages/core/src/serializers/index.ts
  packages/hub/lib/card-model-for-hub.ts
  packages/hub/node-tests/@core/babel-plugin-card-template-test.ts
  yarn.lock
Labels: compiler

#2665 web: Add test failure annotations
  .github/workflows/pr-web-client.yml
  .github/workflows/push-main.yml
  packages/web-client/package.json
  packages/web-client/testem.js
  yarn.lock
Labels: enhancement, testing, web

#2654 web: Add config helper
  packages/web-client/.template-lintrc.js
  packages/web-client/app/components/card-pay/create-merchant-workflow/prepaid-card-choice/index.hbs
  packages/web-client/app/components/card-pay/deposit-workflow/transaction-amount/index.hbs
  packages/web-client/app/components/card-pay/deposit-workflow/transaction-status/index.hbs
  packages/web-client/app/components/card-pay/error-message/index.hbs
  packages/web-client/app/components/card-pay/error-message/index.ts
  packages/web-client/app/components/card-pay/hub-authentication/index.hbs
  packages/web-client/app/components/card-pay/hub-authentication/index.ts
  packages/web-client/app/components/card-pay/issue-prepaid-card-workflow/preview/index.hbs
  packages/web-client/app/components/card-pay/merchant-payment-request-header/index.hbs
  packages/web-client/app/components/card-pay/merchant-payment-request-header/index.ts
  packages/web-client/app/components/card-pay/withdrawal-workflow/token-claim/index.hbs
  packages/web-client/app/components/card-pay/withdrawal-workflow/transaction-amount/index.hbs
  packages/web-client/app/components/card-pay/withdrawal-workflow/transaction-status/index.hbs
  packages/web-client/app/components/card-space/create-space-workflow/select-business-account/index.hbs
  packages/web-client/app/components/card-space/create-space-workflow/select-business-account/index.ts
  packages/web-client/app/components/card-space/edit-details/url/index.hbs
  packages/web-client/app/components/card-space/edit-details/url/index.ts
  packages/web-client/app/components/card-space/profile-card/index.hbs
  packages/web-client/app/components/card-space/profile-card/index.ts
  packages/web-client/app/components/common/card-wallet-badges/index.hbs
  packages/web-client/app/components/common/card-wallet-badges/index.ts
  packages/web-client/app/components/common/degraded-service-banner/index.hbs
  packages/web-client/app/components/common/degraded-service-banner/index.ts
  packages/web-client/app/components/workflow-thread/index.hbs
  packages/web-client/app/components/workflow-thread/index.ts
  packages/web-client/app/controllers/card-pay/wallet.ts
  packages/web-client/app/helpers/config.ts
  packages/web-client/tests/integration/helpers/config-test.ts
Labels: enhancement, web

#2666 web: Change title of test results comment
  .github/workflows/pr-web-client.yml
  .github/workflows/push-main.yml
Labels: testing, maintenance, web

#2643 Card space details card
  packages/web-client/app/components/avatar/index.hbs
  packages/web-client/app/components/card-space/create-space-workflow/details/index.css
  packages/web-client/app/components/card-space/create-space-workflow/details/index.hbs
  packages/web-client/app/components/card-space/create-space-workflow/details/index.ts
  packages/web-client/app/components/card-space/create-space-workflow/display-name/index.hbs
  packages/web-client/app/components/card-space/create-space-workflow/index.hbs
  packages/web-client/app/components/card-space/create-space-workflow/index.ts
  packages/web-client/app/components/card-space/edit-details/button-text/index.hbs
  packages/web-client/app/components/card-space/edit-details/category/index.hbs
  packages/web-client/app/components/card-space/edit-details/cover-photo/index.hbs
  packages/web-client/app/components/card-space/edit-details/cover-photo/index.ts
  packages/web-client/app/components/card-space/edit-details/description/index.hbs
  packages/web-client/app/components/card-space/edit-details/description/index.ts
  packages/web-client/app/components/card-space/edit-details/index.hbs
  packages/web-client/app/components/card-space/edit-details/url/index.css
  packages/web-client/app/components/card-space/edit-details/url/index.hbs
  packages/web-client/app/components/card-space/edit-details/url/index.ts
  packages/web-client/tests/acceptance/create-card-space-persistence-test.ts
  packages/web-client/tests/acceptance/create-card-space-test.ts
  packages/web-client/tests/integration/components/card-space/details/url-card-test.ts
Labels: web

#2586 hub: Add GET /api/card-spaces/:slug
  packages/hub/node-tests/routes/card-space-test.ts
  packages/hub/routes/card-spaces.ts
  packages/hub/services/api-router.ts
  packages/hub/services/queries/card-space.ts
Labels: enhancement, hub

#2669 Clean up image uploading and editing
  packages/web-client/app/components/card-space/create-space-workflow/display-name/index.hbs
  packages/web-client/app/components/card-space/create-space-workflow/display-name/index.ts
  packages/web-client/app/components/card-space/edit-details/cover-photo/index.hbs
  packages/web-client/app/components/card-space/edit-details/cover-photo/index.ts
  packages/web-client/app/components/common/image-upload-action/image-editor/index.css
  packages/web-client/app/components/common/image-upload-action/image-editor/index.hbs
  packages/web-client/app/components/common/image-upload-action/image-editor/index.ts
  packages/web-client/app/components/common/image-upload-action/index.hbs
  packages/web-client/app/components/common/image-upload-action/index.ts
  packages/web-client/app/components/common/image-upload-interface/index.css
  packages/web-client/app/components/common/image-upload-interface/index.hbs
  packages/web-client/app/components/common/image-upload-interface/index.ts
  packages/web-client/app/components/image-uploader/index.hbs
  packages/web-client/app/components/image-uploader/index.ts
  packages/web-client/app/controllers/image-uploader-temp.ts
  packages/web-client/app/router.ts
  packages/web-client/app/templates/image-uploader-temp.hbs
  packages/web-client/tests/integration/components/card-space/create-space-workflow/display-name-test.ts
  packages/web-client/tests/integration/components/common/image-upload-action/image-editor-test.ts
  packages/web-client/tests/integration/components/common/image-upload-action/image-upload-action-test.ts
  packages/web-client/tests/integration/components/common/image-upload-interface-test.ts
  packages/web-client/tests/integration/components/image-uploader-test.ts
Labels: web

#2671 add deserialization to CardModel.getField
  packages/cardhost/app/lib/builder.ts
  packages/cardhost/app/lib/card-model-for-browser.ts
  packages/cardhost/app/services/cards.ts
  packages/cardhost/tests/@core/card-model-test.ts
  packages/cardhost/tests/acceptance/card-edit-test.ts
  packages/cardhost/tests/integration/card-service-test.ts
  packages/core/src/serializers/index.ts
Labels: compiler

#2678 Remove spend display in prepaid cards, show usd only
  packages/web-client/app/components/card-pay/card-picker/card-option/index.hbs
  packages/web-client/app/components/card-pay/create-merchant-workflow/index.ts
  packages/web-client/app/components/card-pay/create-merchant-workflow/prepaid-card-choice/index.hbs
  packages/web-client/app/components/card-pay/issue-prepaid-card-workflow/face-value/index.css
  packages/web-client/app/components/card-pay/issue-prepaid-card-workflow/face-value/index.hbs
  packages/web-client/app/components/card-pay/issue-prepaid-card-workflow/face-value/option/index.css
  packages/web-client/app/components/card-pay/issue-prepaid-card-workflow/face-value/option/index.hbs
  packages/web-client/app/components/card-pay/issue-prepaid-card-workflow/preview/index.hbs
  packages/web-client/app/components/card-pay/prepaid-card/index.css
  packages/web-client/app/components/card-pay/prepaid-card/index.hbs
  packages/web-client/app/controllers/pay.ts
  packages/web-client/app/helpers/format-amount.ts
  packages/web-client/app/templates/card-pay/payments.hbs
  packages/web-client/tests/acceptance/create-merchant-test.ts
  packages/web-client/tests/acceptance/issue-prepaid-card-persistence-test.ts
  packages/web-client/tests/acceptance/issue-prepaid-card-test.ts
  packages/web-client/tests/acceptance/pay-test.ts
  packages/web-client/tests/acceptance/wallet-test.ts
  packages/web-client/tests/integration/components/card-pay/create-merchant-workflow/prepaid-card-choice-test.ts
  packages/web-client/tests/integration/components/card-pay/prepaid-card-safe-test.ts
  packages/web-client/tests/integration/helpers/format-amount-test.ts
Labels: web

#2697 ssr: Add mobile Percy snapshots
  packages/ssr-web/.percy.js
Labels: enhancement, ssr

#2692 Create card space on merchant create
  packages/db/index.ts
  packages/hub/config/structure.sql
  packages/hub/db/migrations/20220216104259120_allow-nulls-in-card-spaces.ts
  packages/hub/node-tests/routes/merchant-infos-test.ts
  packages/hub/routes/merchant-infos.ts
  packages/hub/services/queries/card-space.ts
  packages/hub/services/queries/merchant-info.ts
Labels: hub

#2708 SAVEPOINT only works when there is an existing wrapper transaction
  packages/db/index.ts
Labels: hub

#2713 ssr: Add meta tags for link previews
  packages/ssr-web/app/components/card-pay/merchant-payment-request-header/index.hbs
  packages/ssr-web/app/templates/pay.hbs
  packages/ssr-web/config/environment.js
  packages/ssr-web/ember-cli-build.js
  packages/ssr-web/tests/acceptance/pay-test.ts
Labels: enhancement, ssr

#2717 ssr: Add Percy run on main
  .github/workflows/push-main.yml
Labels: bug, ssr

#2718 ssr: Add client- and server-side Sentry
  .github/actions/deploy-ssr-web/action.yml
  .github/workflows/push-main.yml
  packages/ssr-web/app/router.ts
  packages/ssr-web/app/routes/boom-client.ts
  packages/ssr-web/config/environment.js
  packages/ssr-web/deployment/fastboot-server.js
  packages/ssr-web/deployment/package.json
  packages/ssr-web/deployment/yarn.lock
  packages/ssr-web/types/global.d.ts
Labels: enhancement, ssr

#2727 ssr: Add Sentry DSN for manual deployments
  .github/workflows/manual-ssr-web.yml
Labels: bug, ssr

#2728 ssr: Fix Sentry DSN for manual deployments
  .github/workflows/manual-ssr-web.yml
Labels: bug, ssr

#2740 ssr: Fix wallet domain config
  packages/ssr-web/config/environment.js
Labels: bug, ssr

#2738 web: Remove payment request code
  packages/web-client/app/components/card-pay/merchant-payment-request-card/index.css
  packages/web-client/app/components/card-pay/merchant-payment-request-card/index.hbs
  packages/web-client/app/components/card-pay/merchant-payment-request-card/index.ts
  packages/web-client/app/components/card-pay/merchant-payment-request-card/payment-request/index.css
  packages/web-client/app/components/card-pay/merchant-payment-request-card/payment-request/index.hbs
  packages/web-client/app/components/card-pay/merchant-payment-request-card/payment-request/index.ts
  packages/web-client/app/components/card-pay/merchant-payment-request-header/index.css
  packages/web-client/app/components/card-pay/merchant-payment-request-header/index.hbs
  packages/web-client/app/components/card-pay/merchant-payment-request-header/index.ts
  packages/web-client/app/components/common/payment-link/index.css
  packages/web-client/app/components/common/payment-link/index.hbs
  packages/web-client/app/components/common/payment-link/index.ts
  packages/web-client/app/controllers/pay.ts
  packages/web-client/app/css/pay.css
  packages/web-client/app/router.ts
  packages/web-client/app/routes/pay-error.ts
  packages/web-client/app/routes/pay-missing-route.ts
  packages/web-client/app/routes/pay.ts
  packages/web-client/app/templates/pay-error.hbs
  packages/web-client/app/templates/pay.hbs
  packages/web-client/tests/acceptance/pay-test.ts
  packages/web-client/tests/integration/components/card-pay/merchant-payment-request-card-test.ts
  packages/web-client/tests/integration/components/common/payment-link-test.ts
Labels: maintenance, web
