Repository cardstack/cardstack, pull requests merged in 2022-05, with the labels that each got.

#2927 hub: Add card drop redirects to web client
  packages/hub/config/default.cjs
  packages/hub/config/staging.json
  packages/hub/node-tests/routes/email-card-drop-verify-test.ts
  packages/hub/routes/email-card-drop-verify.ts
Labels: enhancement, hub

#2929 hub: Add rate-limiting for card drops
  packages/hub/config/custom-environment-variables.json
  packages/hub/config/default.cjs
  packages/hub/config/structure.sql
  packages/hub/config/test.cjs
  packages/hub/db/migrations/20220502174343477_create-email-card-drop-state.ts
  packages/hub/node-tests/routes/email-card-drop-request-test.ts
  packages/hub/queries/email-card-drop-requests.ts
  packages/hub/queries/email-card-drop-state.ts
  packages/hub/routes/email-card-drop-requests.ts
  waypoint.hcl
  waypoint.prod.hcl
Labels: enhancement, hub

#2922 web: Add Card Drop routes
  packages/web-client/app/components/card-drop-page/card/index.css
  packages/web-client/app/components/card-drop-page/card/index.hbs
  packages/web-client/app/components/card-drop-page/card/index.ts
  packages/web-client/app/components/card-drop-page/header/index.css
  packages/web-client/app/components/card-drop-page/header/index.hbs
  packages/web-client/app/components/card-drop-page/header/index.ts
  packages/web-client/app/components/card-drop-page/layout/index.css
  packages/web-client/app/components/card-drop-page/layout/index.hbs
  packages/web-client/app/components/common/footer/index.hbs
  packages/web-client/app/router.ts
  packages/web-client/app/services/ua.ts
  packages/web-client/app/templates/card-drop.hbs
  packages/web-client/app/templates/card-drop/already-claimed.hbs
  packages/web-client/app/templates/card-drop/success.hbs
  packages/web-client/tests/acceptance/card-drop-test.ts
Labels: enhancement, web

#2934 hub: Add rate limit to GET /…card-drop-requests
  packages/hub/node-tests/routes/email-card-drop-request-test.ts
  packages/hub/routes/email-card-drop-requests.ts
  packages/hub/services/serializers/email-card-drop-request-serializer.ts
Labels: enhancement, hub

#2940 hub: Change Card Space updates to PATCH
  packages/hub/node-tests/routes/card-space-test.ts
  packages/hub/routes/card-spaces.ts
  packages/hub/services/api-router.ts
Labels: enhancement, hub

#2945 The environment does not need to be set on koa context
  packages/hub/config/test.cjs
  packages/hub/main.ts
  packages/hub/middleware/index.ts
  packages/hub/routes/exchange-rates.ts
Labels: bug

#2944 [CS-3817]: Allow fetch rates with auth token
  packages/hub/node-tests/routes/exchange-rates-test.ts
  packages/hub/routes/exchange-rates.ts
Labels: enhancement, hub

#2949 [Refactor]: Remove spd from native currencies
  packages/cardpay-sdk/sdk/currencies.ts
  packages/ssr-web/app/controllers/pay.ts
Labels: sdk, ssr

#2950 hub: Extract test helpers for Sentry Testkit
  packages/hub/node-tests/helpers/sentry.ts
  packages/hub/node-tests/routes/email-card-drop-request-test.ts
  packages/hub/node-tests/routes/status-test.ts
  packages/hub/node-tests/services/contract-subscription-event-handler-test.ts
  packages/hub/node-tests/services/web3-socket-test.ts
  packages/hub/node-tests/tasks/notify-customer-payment-test.ts
  packages/hub/node-tests/tasks/notify-merchant-claim-test.ts
  packages/hub/node-tests/tasks/send-email-card-drop-verification-test.ts
  packages/hub/node-tests/tasks/send-notifications-test.ts
Labels: enhancement, hub

#2946 hub: Update drop-card task to call relay server
  packages/hub/config/default.cjs
  packages/hub/main.ts
  packages/hub/node-tests/routes/email-card-drop-verify-test.ts
  packages/hub/queries/email-card-drop-requests.ts
  packages/hub/routes/email-card-drop-verify.ts
  packages/hub/services/relay.ts
  packages/hub/tasks/drop-card.ts
  packages/hub/worker.ts
Labels: enhancement, hub

#2951 web: Add route to display card drop error
  packages/web-client/app/components/card-drop-page/card/index.css
  packages/web-client/app/components/card-drop-page/card/index.hbs
  packages/web-client/app/controllers/card-drop/error.ts
  packages/web-client/app/router.ts
  packages/web-client/app/templates/card-drop/error.hbs
  packages/web-client/tests/acceptance/card-drop-test.ts
Labels: enhancement, web

#2952 hub: Add Sentry tag to notify on card drop errors
  packages/hub/node-tests/routes/email-card-drop-verify-test.ts
  packages/hub/node-tests/tasks/send-email-card-drop-verification-test.ts
  packages/hub/routes/email-card-drop-verify.ts
  packages/hub/tasks/send-email-card-drop-verification.ts
Labels: enhancement, hub

#2947 Prepare sdk for the new contract version v0.9.0
  packages/cardpay-sdk/contracts/abi/v0.9.0/chainlink-feed-adapter.ts
  packages/cardpay-sdk/contracts/abi/v0.9.0/exchange.ts
  packages/cardpay-sdk/contracts/abi/v0.9.0/merchant-manager.ts
  packages/cardpay-sdk/contracts/abi/v0.9.0/pay-merchant-handler.ts
  packages/cardpay-sdk/contracts/abi/v0.9.0/prepaid-card-manager.ts
  packages/cardpay-sdk/contracts/abi/v0.9.0/prepaid-card-market.ts
  packages/cardpay-sdk/contracts/abi/v0.9.0/price-oracle.ts
  packages/cardpay-sdk/contracts/abi/v0.9.0/register-merchant-handler.ts
  packages/cardpay-sdk/contracts/abi/v0.9.0/register-reward-program-handler.ts
  packages/cardpay-sdk/contracts/abi/v0.9.0/register-rewardee-handler.ts
  packages/cardpay-sdk/contracts/abi/v0.9.0/revenue-pool.ts
  packages/cardpay-sdk/contracts/abi/v0.9.0/reward-manager.ts
  packages/cardpay-sdk/contracts/abi/v0.9.0/reward-pool.ts
  packages/cardpay-sdk/contracts/abi/v0.9.0/reward-safe-delegate-implementation.ts
  packages/cardpay-sdk/contracts/abi/v0.9.0/spend.ts
  packages/cardpay-sdk/contracts/abi/v0.9.0/split-prepaid-card-handler.ts
  packages/cardpay-sdk/contracts/abi/v0.9.0/supplier-manager.ts
  packages/cardpay-sdk/contracts/abi/v0.9.0/transfer-prepaid-card-handler.ts
  packages/cardpay-sdk/sdk/prepaid-card/base.ts
  packages/cardpay-sdk/sdk/prepaid-card/v0.8.7.ts
Labels: sdk

#2956 hub: Add staging support email override
  packages/hub/config/default.cjs
Labels: enhancement, hub

#2962 Add emoji to incident status Discord updates
  packages/hub/node-tests/routes/pagerduty-incidents-webhook-test.ts
  packages/hub/routes/pagerduty-incidents-webhook.ts
Labels: enhancement, hub

#2971 hub: Add expiry notice to verification email
  packages/hub/config/default.cjs
  packages/hub/node-tests/routes/email-card-drop-request-test.ts
  packages/hub/node-tests/routes/email-card-drop-verify-test.ts
  packages/hub/node-tests/tasks/send-email-card-drop-verification-test.ts
  packages/hub/queries/email-card-drop-requests.ts
  packages/hub/tasks/send-email-card-drop-verification.ts
Labels: enhancement, hub

#2963 Add IP addresses to hub logs
  packages/hub/middleware/index.ts
  packages/hub/package.json
  yarn.lock
Labels: enhancement

#2984 hub: Update workflow to test all PRs
  .github/workflows/pr-hub.yml
Labels: testing, hub
