Repository cardstack/cardstack, pull requests merged in 2022-07, with the labels that each got.

#3065 hub: Reject already-used IAP receipts
  packages/hub/node-tests/routes/job-tickets-test.ts
  packages/hub/node-tests/routes/profile-purchases-test.ts
  packages/hub/node-tests/tasks/create-profile-test.ts
  packages/hub/queries/job-tickets.ts
  packages/hub/routes/job-tickets.ts
  packages/hub/routes/profile-purchases.ts
Labels: bug, hub

#3059 hub: Add IAP verification
  packages/hub/config/default.cjs
  packages/hub/config/production.json
  packages/hub/config/test.cjs
  packages/hub/node-tests/routes/profile-purchases-test.ts
  packages/hub/node-tests/services/in-app-purchases-test.ts
  packages/hub/package.json
  packages/hub/routes/profile-purchases.ts
  packages/hub/services/in-app-purchases.ts
  yarn.lock
Labels: enhancement, hub

#3075 fix: Remove unused config values
  scripts/waypoint-ecs-add-tags.mjs
Labels: bug

#3077 hub: Add text-color as required merchant attribute
  packages/hub/node-tests/routes/profile-purchases-test.ts
  packages/hub/routes/merchant-infos.ts
  packages/hub/routes/profile-purchases.ts
Labels: bug, hub

#3073 hub: Add Prisma
  packages/hub/README.md
  packages/hub/config/default.cjs
  packages/hub/config/development.json
  packages/hub/main.ts
  packages/hub/node-tests/routes/prepaid-card-color-schemes-test.ts
  packages/hub/node-tests/routes/prepaid-card-customizations-test.ts
  packages/hub/node-tests/routes/prepaid-card-patterns-test.ts
  packages/hub/node-tests/routes/push-notification-registrations-test.ts
  packages/hub/node-tests/services/notification-preference-test.ts
  packages/hub/node-tests/tasks/send-notifications-test.ts
  packages/hub/package.json
  packages/hub/prisma/schema.prisma
  packages/hub/queries/push-notification-registration.ts
  packages/hub/routes/prepaid-card-color-schemes.ts
  packages/hub/routes/prepaid-card-customizations.ts
  packages/hub/routes/prepaid-card-patterns.ts
  packages/hub/routes/push-notification-registrations.ts
  packages/hub/services/prisma-manager.ts
  packages/hub/services/push-notifications/preferences.ts
  packages/hub/services/serializers/prepaid-card-pattern-serializer.ts
  packages/hub/services/serializers/push-notification-registration-serializer.ts
  packages/hub/tasks/send-notifications.ts
  packages/hub/webpack.config.ts
  yarn.lock
Labels: enhancement, hub

#3079 hub: Fix followup payload in create-profile
  packages/hub/node-tests/tasks/create-profile-test.ts
  packages/hub/routes/merchant-infos.ts
  packages/hub/tasks/create-profile.ts
  packages/hub/tasks/persist-off-chain-merchant-info.ts
Labels: bug, hub

#3081 Fix an eslint issue in web-client
  packages/web-client/app/resources/safes.ts
Labels: bug

#3082 hub: Change Prisma client naming conventions
  packages/hub/README.md
  packages/hub/cli/db/index.ts
  packages/hub/cli/db/transform-prisma-schema.ts
  packages/hub/node-tests/routes/prepaid-card-color-schemes-test.ts
  packages/hub/node-tests/routes/prepaid-card-customizations-test.ts
  packages/hub/node-tests/routes/prepaid-card-patterns-test.ts
  packages/hub/node-tests/routes/push-notification-registrations-test.ts
  packages/hub/node-tests/services/notification-preference-test.ts
  packages/hub/node-tests/tasks/send-notifications-test.ts
  packages/hub/package.json
  packages/hub/prisma/schema.prisma
  packages/hub/routes/prepaid-card-color-schemes.ts
  packages/hub/routes/prepaid-card-customizations.ts
  packages/hub/routes/prepaid-card-patterns.ts
  packages/hub/routes/push-notification-registrations.ts
  packages/hub/services/prisma-manager.ts
  packages/hub/services/push-notifications/preferences.ts
  packages/hub/services/serializers/prepaid-card-color-scheme-serializer.ts
  packages/hub/services/serializers/prepaid-card-customization-serializer.ts
  packages/hub/services/serializers/prepaid-card-pattern-serializer.ts
  packages/hub/services/serializers/push-notification-registration-serializer.ts
  packages/hub/tasks/send-notifications.ts
  yarn.lock
Labels: enhancement, hub

#3087 hub: Fix Prisma in deployed environments
  .github/actions/deploy-hub/action.yml
  packages/hub/Dockerfile
  packages/hub/prisma/schema.prisma
  packages/hub/webpack.config.ts
Labels: bug, hub

#3088 hub: Remove bot from Action and Waypoint
  .github/actions/deploy-hub/action.yml
Labels: maintenance, hub

#3091 Convert LatestEventBlock query to a prisma extension
  packages/hub/node-tests/routes/job-tickets-test.ts
  packages/hub/node-tests/services/contract-subscription-event-handler-test.ts
  packages/hub/queries/latest-event-block.ts
  packages/hub/services/contract-subscription-event-handler.ts
  packages/hub/services/prisma-extensions/latest-event-block.ts
  packages/hub/services/prisma-extensions/push-notification-registration.ts
  packages/hub/services/prisma-manager.ts
Labels: chore

#3090 hub: Update exchange-rates to use Prisma
  packages/hub/node-tests/services/exchange-rates-test.ts
  packages/hub/queries/exchange-rates.ts
  packages/hub/services/exchange-rates.ts
  packages/hub/services/prisma-extensions/exchange-rate.ts
  packages/hub/services/prisma-manager.ts
Labels: enhancement, hub

#3092 hub: Fix Prisma warning about excess instances in tests
  packages/hub/services/prisma-manager.ts
Labels: bug, hub

#3098 hub: Add mapping for enum fields when transforming
  packages/hub/cli/db/transform-prisma-schema.ts
  packages/hub/prisma/schema.prisma
Labels: bug, hub

#3097 hub: Update notification types and preferences to use Prisma
  packages/hub/node-tests/routes/notification-preferences-test.ts
  packages/hub/node-tests/services/notification-preference-test.ts
  packages/hub/queries/notification-preference.ts
  packages/hub/queries/notification-type.ts
  packages/hub/routes/notification-preferences.ts
  packages/hub/services/prisma-extensions/notification-preference.ts
  packages/hub/services/prisma-manager.ts
  packages/hub/services/push-notifications/preferences.ts
Labels: enhancement, hub

#3100 hub: Change belongs-to to be singular for Prisma
  packages/hub/cli/db/transform-prisma-schema.ts
  packages/hub/prisma/schema.prisma
  packages/hub/services/prisma-extensions/notification-preference.ts
Labels: bug, hub

#3101 hub: Add mistakenly-deleted Prisma binary targets
  packages/hub/prisma/schema.prisma
Labels: bug, hub

#3099 Convert merchantInfo and cardSpace query objects to use prisma
  packages/hub/node-tests/routes/card-space-test.ts
  packages/hub/node-tests/routes/merchant-infos-test.ts
  packages/hub/node-tests/routes/profile-purchases-test.ts
  packages/hub/node-tests/services/card-space-validator-test.ts
  packages/hub/node-tests/tasks/create-profile-test.ts
  packages/hub/queries/card-space.ts
  packages/hub/queries/merchant-info.ts
  packages/hub/routes/card-spaces.ts
  packages/hub/routes/merchant-infos.ts
  packages/hub/routes/profile-purchases.ts
  packages/hub/services/merchant-info.ts
  packages/hub/services/serializers/card-space-serializer.ts
  packages/hub/services/serializers/merchant-info-serializer.ts
  packages/hub/services/validators/card-space.ts
  packages/hub/tasks/create-profile.ts
  packages/hub/tasks/persist-off-chain-merchant-info.ts
Labels: chore

#3102 Convert sentPushNotifications query object to prisma
  packages/hub/node-tests/tasks/send-notifications-test.ts
  packages/hub/queries/sent-push-notifications.ts
  packages/hub/tasks/send-notifications.ts
Labels: chore

#3096 Update ember-cli-deprecation-workflow
  packages/boxel/config/deprecation-workflow.js
  packages/boxel/package.json
  packages/cardhost/config/deprecation-workflow.js
  packages/cardhost/package.json
  packages/ssr-web/config/deprecation-workflow.js
  packages/ssr-web/package.json
  packages/web-client/config/deprecation-workflow.js
  packages/web-client/package.json
  yarn.lock
Labels: chore

#3103 Convert upload query object to prisma
  packages/hub/node-tests/routes/upload-test.ts
  packages/hub/queries/upload.ts
  packages/hub/routes/upload.ts
  packages/hub/services/prisma-extensions/upload.ts
  packages/hub/services/prisma-manager.ts
Labels: chore

#3105 Update to prisma 4.1.0
  packages/hub/package.json
  yarn.lock
Labels: chore

#3107 hub: Change card drop state to use Prisma
  packages/hub/node-tests/routes/email-card-drop-request-test.ts
  packages/hub/queries/email-card-drop-state.ts
  packages/hub/routes/email-card-drop-requests.ts
  packages/hub/services/prisma-extensions/email-card-drop-state.ts
  packages/hub/services/prisma-extensions/exchange-rate.ts
  packages/hub/services/prisma-extensions/latest-event-block.ts
  packages/hub/services/prisma-extensions/notification-preference.ts
  packages/hub/services/prisma-extensions/push-notification-registration.ts
  packages/hub/services/prisma-extensions/upload.ts
  packages/hub/services/prisma-manager.ts
Labels: enhancement, hub

#3110 ember: Fix setting-on-hash-deprecation
  packages/ssr-web/package.json
  packages/web-client/config/deprecation-workflow.js
  packages/web-client/package.json
  yarn.lock
Labels: maintenance, web, ssr

#3111 Eliminate ensure-safe-component.string deprecation from boxel
  packages/boxel/addon/components/boxel/card-picker/index.hbs
  packages/boxel/tests/dummy/app/controllers/docs/index.js
  packages/boxel/tests/dummy/app/templates/docs/index.hbs
  packages/boxel/tests/dummy/config/deprecation-workflow.js
Labels: chore

#3115 Eliminate this-property-fallback deprecation from boxel
  packages/boxel/tests/dummy/config/deprecation-workflow.js
  packages/boxel/tests/integration/helpers/percent-complete-test.js
Labels: chore

#3114 hub: Move drop requests and more to Prisma
  packages/hub/main.ts
  packages/hub/node-tests/routes/email-card-drop-request-test.ts
  packages/hub/node-tests/routes/email-card-drop-verify-test.ts
  packages/hub/node-tests/tasks/send-email-card-drop-verification-test.ts
  packages/hub/node-tests/utils/queries-test.ts
  packages/hub/queries/email-card-drop-requests.ts
  packages/hub/queries/index.ts
  packages/hub/routes/email-card-drop-requests.ts
  packages/hub/routes/email-card-drop-verify.ts
  packages/hub/services/clock.ts
  packages/hub/services/prisma-extensions/email-card-drop-requests.ts
  packages/hub/services/prisma-manager.ts
  packages/hub/services/serializers/prepaid-card-color-scheme-serializer.ts
  packages/hub/services/serializers/prepaid-card-customization-serializer.ts
  packages/hub/tasks/send-email-card-drop-verification.ts
  packages/hub/utils/queries.ts
Labels: enhancement, hub

#3109 ember: Fix routing.transition-methods deprecations
  packages/boxel/tests/dummy/app/controllers/media-registry.js
  packages/boxel/tests/dummy/app/controllers/media-registry/agreements.js
  packages/boxel/tests/dummy/app/controllers/media-registry/collection.js
  packages/boxel/tests/dummy/app/controllers/media-registry/discrepancies/discrepancy/card.js
  packages/boxel/tests/dummy/app/controllers/media-registry/discrepancies/discrepancy/card/card.js
  packages/boxel/tests/dummy/app/controllers/media-registry/discrepancies/discrepancy/index.js
  packages/boxel/tests/dummy/app/controllers/media-registry/discrepancies/index.js
  packages/boxel/tests/dummy/app/controllers/media-registry/index.js
  packages/boxel/tests/dummy/app/controllers/media-registry/item.js
  packages/boxel/tests/dummy/app/controllers/media-registry/products/album.js
  packages/boxel/tests/dummy/app/controllers/media-registry/version.js
  packages/boxel/tests/dummy/app/controllers/workflow/org.js
  packages/boxel/tests/dummy/app/routes/home.js
  packages/boxel/tests/dummy/app/routes/workflow/index.js
  packages/boxel/tests/dummy/app/routes/workflow/org/index.js
  packages/ssr-web/app/routes/not-found.ts
  packages/ssr-web/app/routes/pay.ts
  packages/ssr-web/app/routes/wc.ts
  packages/ssr-web/config/deprecation-workflow.js
  packages/web-client/app/controllers/card-pay.ts
  packages/web-client/app/routes/card-pay/base.ts
  packages/web-client/app/routes/card-pay/index.ts
  packages/web-client/config/deprecation-workflow.js
  packages/web-client/tests/acceptance/create-merchant-test.ts
  packages/web-client/tests/acceptance/withdrawal-test.ts
  packages/web-client/tests/test-helper.js
Labels: maintenance, web, boxel, ssr

#3120 hub: Replace card_spaces/merchant_infos with profiles
  packages/hub/config/structure.sql
  packages/hub/db/migrations/20220728144935996_add-profiles.ts
  packages/hub/node-tests/routes/card-space-test.ts
  packages/hub/node-tests/routes/merchant-infos-test.ts
  packages/hub/node-tests/routes/profile-purchases-test.ts
  packages/hub/node-tests/services/card-space-validator-test.ts
  packages/hub/node-tests/tasks/create-profile-test.ts
  packages/hub/prisma/schema.prisma
  packages/hub/routes/card-spaces.ts
  packages/hub/routes/merchant-infos.ts
  packages/hub/routes/profile-purchases.ts
  packages/hub/services/api-router.ts
  packages/hub/services/merchant-info.ts
  packages/hub/services/serializers/card-space-serializer.ts
  packages/hub/services/serializers/merchant-info-serializer.ts
  packages/hub/services/validators/card-space.ts
  packages/hub/tasks/create-profile.ts
  packages/hub/tasks/persist-off-chain-merchant-info.ts
Labels: hub, chore

#3126 Revert "hub: Replace card_spaces/merchant_infos with profiles"
  packages/hub/config/structure.sql
  packages/hub/db/migrations/20220728144935996_add-profiles.ts
  packages/hub/node-tests/routes/card-space-test.ts
  packages/hub/node-tests/routes/merchant-infos-test.ts
  packages/hub/node-tests/routes/profile-purchases-test.ts
  packages/hub/node-tests/services/card-space-validator-test.ts
  packages/hub/node-tests/tasks/create-profile-test.ts
  packages/hub/prisma/schema.prisma
  packages/hub/routes/card-spaces.ts
  packages/hub/routes/merchant-infos.ts
  packages/hub/routes/profile-purchases.ts
  packages/hub/services/api-router.ts
  packages/hub/services/merchant-info.ts
  packages/hub/services/serializers/card-space-serializer.ts
  packages/hub/services/serializers/merchant-info-serializer.ts
  packages/hub/services/validators/card-space.ts
  packages/hub/tasks/create-profile.ts
  packages/hub/tasks/persist-off-chain-merchant-info.ts
Labels: maintenance, hub
