Repository cardstack/cardstack, pull requests merged in 2022-08, with the labels that each got.

#3118 hub: Change Sentry.init to only be called once
  packages/hub/node-tests/helpers/sentry.ts
Labels: bug, hub

#3123 Eliminate deprecated-run-loop-and-computed-dot-access and upgrade Sentry
  package.json
  packages/boxel/tests/dummy/config/deprecation-workflow.js
  packages/discord-bot/package.json
  packages/hub/initializers/sentry.ts
  packages/hub/node-tests/helpers/sentry.ts
  packages/hub/node-tests/services/web3-socket-test.ts
  packages/hub/node-tests/tasks/subscribe-email-test.ts
  packages/hub/package.json
  packages/hub/routes/email-card-drop-requests.ts
  packages/ssr-web/.template-lintrc.js
  packages/ssr-web/app/utils/web3-strategies/layer2-chain.ts
  packages/ssr-web/config/deprecation-workflow.js
  packages/ssr-web/deployment/package.json
  packages/ssr-web/package.json
  packages/ssr-web/types/ember-data/types/registries/model.d.ts
  packages/web-client/app/components/card-pay/issue-prepaid-card-workflow/layout-customization/display-view/index.hbs
  packages/web-client/app/components/card-pay/issue-prepaid-card-workflow/layout-customization/form-view/index.hbs
  packages/web-client/app/components/card-pay/issue-prepaid-card-workflow/preview/index.hbs
  packages/web-client/app/components/card-pay/prepaid-card/index.hbs
  packages/web-client/app/templates/card-drop/success.hbs
  packages/web-client/app/utils/web3-strategies/layer2-chain.ts
  packages/web-client/config/deprecation-workflow.js
  packages/web-client/package.json
  packages/web-client/tests/integration/components/card-pay/deposit-workflow/transaction-amount-test.ts
  packages/web-client/tests/integration/components/card-pay/withdrawal-workflow/transaction-amount-test.ts
  packages/web-client/types/ember-data/types/registries/model.d.ts
  yarn.lock
Labels: chore

#3135 hub: Replace card_spaces/merchant_infos with profiles
  packages/hub/config/structure.sql
  packages/hub/db/migrations/20220728144935996_add-profiles.ts
  packages/hub/db/migrations/20220802184224370_populate-profiles.ts
  packages/hub/db/migrations/20220802184244353_delete-profile-components.ts
  packages/hub/node-tests/routes/card-space-test.ts
  packages/hub/node-tests/routes/merchant-infos-test.ts
  packages/hub/node-tests/routes/profile-purchases-test.ts
  packages/hub/node-tests/services/card-space-validator-test.ts
  packages/hub/node-tests/tasks/create-profile-test.ts
  packages/hub/prisma/schema.prisma
  packages/hub/routes/card-spaces.ts
  packages/hub/routes/merchant-infos.ts
  packages/hub/routes/profile-purchases.ts
  packages/hub/services/api-router.ts
  packages/hub/services/merchant-info.ts
  packages/hub/services/serializers/card-space-serializer.ts
  packages/hub/services/serializers/merchant-info-serializer.ts
  packages/hub/services/validators/card-space.ts
  packages/hub/tasks/create-profile.ts
  packages/hub/tasks/persist-off-chain-merchant-info.ts
Labels: bug, hub

#3142 hub: Add auth for Google purchase validation
  packages/hub/config/custom-environment-variables.json
  packages/hub/config/default.cjs
  packages/hub/config/test.cjs
  packages/hub/node-tests/services/in-app-purchases-test.ts
  packages/hub/package.json
  packages/hub/services/in-app-purchases.ts
  waypoint.hcl
  waypoint.prod.hcl
  yarn.lock
Labels: bug, hub

#3147 hub: Add type to job serialisations
  packages/hub/node-tests/routes/job-tickets-test.ts
  packages/hub/node-tests/routes/profile-purchases-test.ts
  packages/hub/services/serializers/job-ticket-serializer.ts
Labels: enhancement, hub

#3152 hub: Add missing field updates for profile PATCH
  packages/hub/node-tests/routes/profiles-test.ts
  packages/hub/routes/profiles.ts
Labels: bug, hub

#3168 ssr: Fix local development
  package.json
  packages/ssr-web/config/deprecation-workflow.js
  patches/ember-cli-mirage+2.2.0.patch
  yarn.lock
Labels: bug, ssr

#3148 Add tables: scheduled_payments, scheduled_payment_attempts
  packages/hub/config/structure.sql
  packages/hub/db/migrations/20220810123016866_create-scheduled-payments.ts
  packages/hub/db/migrations/20220810123029047_create-scheduled-payment-attempts.ts
  packages/hub/prisma/schema.prisma
Labels: hub

#3178 ssr/web: Fix token names in Sokol
  packages/ssr-web/app/utils/web3-strategies/network-display-info.ts
  packages/web-client/app/utils/token.ts
Labels: bug, web, ssr

#3157 hub: Add optional invalidation upon write to S3
  packages/hub/config/custom-environment-variables.json
  packages/hub/config/default.cjs
  packages/hub/config/development.json
  packages/hub/config/test.cjs
  packages/hub/node-tests/helpers/stub-worker-client.ts
  packages/hub/node-tests/routes/profiles-test.ts
  packages/hub/node-tests/tasks/persist-off-chain-merchant-info-test.ts
  packages/hub/package.json
  packages/hub/routes/profiles.ts
  packages/hub/tasks/create-cloudfront-invalidation.ts
  packages/hub/tasks/index.ts
  packages/hub/tasks/persist-off-chain-merchant-info.ts
  packages/hub/tasks/s3-put-json.ts
  packages/hub/utils/aws-config.ts
  packages/hub/worker.ts
  waypoint.hcl
  waypoint.prod.hcl
  yarn.lock
Labels: bug, hub

#3185 hub: Change merchant-infos to profiles
  packages/did-resolver/README.md
  packages/did-resolver/index.ts
  packages/did-resolver/node-tests/basic-test.ts
  packages/hub/README.md
  packages/hub/main.ts
  packages/hub/middleware/index.ts
  packages/hub/node-tests/routes/card-space-test.ts
  packages/hub/node-tests/routes/merchant-infos-test.ts
  packages/hub/node-tests/routes/profile-purchases-test.ts
  packages/hub/node-tests/routes/profiles-test.ts
  packages/hub/node-tests/services/merchant-info-test.ts
  packages/hub/node-tests/tasks/create-profile-test.ts
  packages/hub/node-tests/tasks/persist-off-chain-profile-test.ts
  packages/hub/routes/card-spaces.ts
  packages/hub/routes/merchant-infos.ts
  packages/hub/routes/profile-purchases.ts
  packages/hub/routes/profiles.ts
  packages/hub/services/api-router.ts
  packages/hub/services/serializers/profile-serializer.ts
  packages/hub/tasks/create-profile.ts
  packages/hub/tasks/index.ts
  packages/hub/tasks/persist-off-chain-profile.ts
  packages/hub/worker.ts
  packages/python-did-resolver/python_did_resolver/main.py
  packages/python-did-resolver/tests/test_property.py
Labels: bug, hub

#3186 Upgrade typescript
  package.json
  packages/boxel/package.json
  packages/cardhost/package.json
  packages/cardie/package.json
  packages/cardpay-cli/package.json
  packages/cardpay-sdk/package.json
  packages/cardpay-subgraph/.eslintrc.js
  packages/cardpay-subgraph/package.json
  packages/core/package.json
  packages/did-resolver/package.json
  packages/discord-bot/package.json
  packages/eslint-config/package.json
  packages/firebase-functions/check-version/functions/package.json
  packages/firebase-functions/maintenance-status/functions/package.json
  packages/firebase-functions/minimum-version/functions/package.json
  packages/firebase-functions/push/functions/package.json
  packages/firebase-functions/push/functions/src/routes/push.ts
  packages/firebase-functions/push/functions/src/routes/register.ts
  packages/firebase-functions/push/functions/src/utils/data.ts
  packages/firebase-functions/review-feature/functions/package.json
  packages/hub/node-tests/services/worker-client-test.ts
  packages/hub/package.json
  packages/ssr-web/package.json
  packages/wc-provider/package.json
  packages/web-client/package.json
  scripts/verify-waypoint-secrets.ts
  yarn.lock
Labels: chore

#3191 ssr: Remove reporting of hostWhitelist errors
  packages/ssr-web/app/services/app-context.ts
Labels: bug, ssr

#3190 hub: Add Prisma integration for Sentry
  packages/hub/initializers/sentry.ts
  packages/hub/package.json
  yarn.lock
Labels: enhancement, hub

#3197 boxel: Add vertical option for Participant
  packages/boxel/addon/components/boxel/participant/index.css
  packages/boxel/addon/components/boxel/participant/index.hbs
  packages/boxel/addon/components/boxel/participant/usage.hbs
  packages/boxel/addon/components/boxel/participant/usage.ts
Labels: enhancement, boxel

#3199 boxel: Add CancelButton to default ActionChin
  packages/boxel/addon/components/boxel/action-chin/index.hbs
  packages/boxel/addon/components/boxel/action-chin/usage.hbs
  packages/boxel/tests/integration/components/boxel/action-chin-test.js
Labels: enhancement, boxel

#3198 boxel: Add multiline option for Input
  packages/boxel/addon/components/boxel/input/index.hbs
  packages/boxel/addon/components/boxel/input/usage.hbs
Labels: enhancement, boxel
