Repository cardstack/cardstack, pull requests merged in 2022-03, with the labels that each got.

#2744 Create card spaces for merchants
  packages/hub/db/migrations/20220301101637933_create-card-space-profiles-for-existing-merchants.ts
Labels: hub

#2743 ssr: Add Card Space redirects
  packages/ssr-web/app/router.ts
  packages/ssr-web/app/routes/index.ts
  packages/ssr-web/app/routes/not-found.ts
  packages/ssr-web/app/routes/pay.ts
  packages/ssr-web/app/services/app-context.ts
  packages/ssr-web/app/templates/error.hbs
  packages/ssr-web/tests/acceptance/pay-test.ts
  packages/ssr-web/tests/acceptance/visit-card-space-test.ts
Labels: bug, ssr

#2759 Wrap card space in a component and load address async
  packages/ssr-web/app/components/common/card-space-user-page/index.hbs
  packages/ssr-web/app/components/common/card-space-user-page/index.ts
  packages/ssr-web/app/components/common/payment-link/index.css
  packages/ssr-web/app/components/common/payment-link/index.hbs
  packages/ssr-web/app/controllers/index.ts
  packages/ssr-web/app/routes/index.ts
  packages/ssr-web/app/templates/index.hbs
  packages/ssr-web/tests/acceptance/visit-card-space-test.ts
Labels: ssr

#2761 ssr: Update Embroider to 1.3.0
  package.json
  packages/ssr-web/README.md
  packages/ssr-web/package.json
  yarn.lock
Labels: enhancement, maintenance, dependencies, ssr

#2757 ssr: Update for Card Space domains
  packages/ssr-web/README.md
  packages/ssr-web/config/environment.js
  packages/web-client/app/templates/card-space/profile-card-temp.hbs
  packages/web-client/config/environment.js
  packages/web-client/tests/acceptance/create-card-space-test.ts
  packages/web-client/tests/integration/components/card-space/profile-card-test.ts
  waypoint.hcl
Labels: enhancement, web, ssr

#2772 Simple business profile page
  packages/boxel/addon/components/boxel/button/kind-variants.css
  packages/boxel/addon/components/boxel/button/usage.ts
  packages/boxel/addon/components/boxel/styled-qr-code/index.css
  packages/boxel/addon/components/boxel/styled-qr-code/index.hbs
  packages/ssr-web/app/components/card-space/user-page/index.css
  packages/ssr-web/app/components/card-space/user-page/index.hbs
  packages/ssr-web/app/components/card-space/user-page/index.ts
  packages/ssr-web/app/components/common/card-space-user-page/index.hbs
  packages/ssr-web/app/config/environment.d.ts
  packages/ssr-web/app/templates/index.hbs
  packages/ssr-web/config/environment.js
  packages/ssr-web/public/images/logos/card-pay-logo-with-text.svg
  packages/ssr-web/tests/acceptance/visit-card-space-test.ts
Labels: ssr

#2779 ssr: Add profile meta tags
  packages/ssr-web/app/components/card-space/user-page/index.hbs
  packages/ssr-web/app/components/card-space/user-page/index.ts
  packages/ssr-web/public/images/logos/card-space-logo-with-background.png
  packages/ssr-web/tests/acceptance/visit-card-space-test.ts
Labels: enhancement, ssr

#2778 ssr: Change listener for production Waypoint
  waypoint.prod.hcl
Labels: bug, ssr

#2781 ssr: Change profile contents to be vertically centred
  packages/ssr-web/app/components/card-space/user-page/index.css
  packages/ssr-web/app/components/card-space/user-page/index.hbs
  packages/ssr-web/tests/acceptance/visit-card-space-test.ts
Labels: enhancement, ssr

#2801 web: Remove magnitude of prepaid card
  packages/web-client/app/templates/card-pay/wallet.hbs
Labels: enhancement, quick?, web

#2806 cardbot: Change production prepaid card SKU
  packages/hub/config/production.json
Labels: hub

#2800 cardbot: Add $5 SKU image and remove § from $10
  packages/hub/services/discord-bots/hub-bot/assets/prepaid-cards/0x2a635070ac5332e28e657bfd717363165dba145ddc6d5eca39b12faacb861149.png
  packages/hub/services/discord-bots/hub-bot/assets/prepaid-cards/0x5e0d8bbe3c8e4d9013509b469dabfa029270b38a5c55c9c94c095ec6199d7fda.png
  packages/hub/services/discord-bots/hub-bot/assets/prepaid-cards/0xa749b13a8b8a0ee736e3dde0a1a02658bc1cad6641d50849009a707ace79ce17.png
Labels: enhancement, hub

#2811 boxel: Add explicit import of qunit-dom
  packages/boxel/types/global.d.ts
Labels: bug, maintenance, boxel

#2788 Use a custom logger to include a hostname in FastBoot server logs
  packages/ssr-web/deployment/fastboot-server.js
  packages/ssr-web/package.json
  yarn.lock
Labels: ssr

#2814 ssr: Add guard for health check user agent filter
  packages/ssr-web/deployment/fastboot-server.js
Labels: bug, ssr

#2815 cardbot: Change Card Wallet download copy
  packages/hub/node-tests/bot-commands/card-drop-test.ts
  packages/hub/services/discord-bots/hub-bot/commands/guild/card-drop.ts
Labels: enhancement, hub

#2826 web: Remove obsolete deployment script lines
  .github/workflows/manual-web-client.yml
Labels: maintenance, web

#2753 web: Add PR deployments
  .github/actions/deploy-web-client-preview/action.yml
  .github/workflows/pr-web-client.yml
  package.json
  packages/web-client/config/deploy.js
  packages/web-client/config/environment.js
  packages/web-client/ember-cli-build.js
  yarn.lock
Labels: enhancement, web

#2853 Enable cardie to deploy apps in multiple repos
  packages/cardie/commands/deploy.ts
  packages/cardie/config.json
  packages/cardie/types.ts
Labels: enhancement
