Repository cardstack/cardstack, pull requests merged in 2022-06, with the labels that each got.

#2974 hub: Add reservation/quantity check for drop requests
  packages/hub/config/default.cjs
  packages/hub/config/staging.json
  packages/hub/config/test.cjs
  packages/hub/node-tests/routes/email-card-drop-request-test.ts
  packages/hub/queries/email-card-drop-requests.ts
  packages/hub/routes/email-card-drop-requests.ts
Labels: enhancement, hub

#2931 hub: Add listener for prepaid card provisioning
  packages/hub/db/seeds.ts
  packages/hub/main.ts
  packages/hub/node-tests/services/contract-subscription-event-handler-test.ts
  packages/hub/node-tests/services/contracts-test.ts
  packages/hub/node-tests/tasks/notify-prepaid-card-drop-test.ts
  packages/hub/services/contract-subscription-event-handler.ts
  packages/hub/tasks/notify-prepaid-card-drop.ts
  packages/hub/worker.ts
  yarn.lock
Labels: enhancement, hub

#2996 wc: Add subscription override to remove parameters
  packages/wc-provider/block-tracker.ts
Labels: bug, web

#3004 Add prepaid card market v2 address now that it's deployed to Gnosis chain
  packages/cardpay-sdk/contracts/addresses.ts
Labels: sdk

#3006 ssr/web: Restore preview deployment links
  .github/workflows/pr-ssr-web.yml
  .github/workflows/pr-web-client.yml
Labels: bug, maintenance

#2992 hub: Add caching for historic exchange rates
  packages/hub/README.md
  packages/hub/config/custom-environment-variables.json
  packages/hub/config/structure.sql
  packages/hub/db/migrations/20220527204632100_create-exchange-rates.ts
  packages/hub/node-tests/helpers/index.ts
  packages/hub/node-tests/routes/email-card-drop-request-test.ts
  packages/hub/node-tests/routes/exchange-rates-test.ts
  packages/hub/node-tests/routes/status-test.ts
  packages/hub/node-tests/services/exchange-rates-test.ts
  packages/hub/package.json
  packages/hub/queries/exchange-rates.ts
  packages/hub/routes/exchange-rates.ts
  packages/hub/routes/status.ts
  packages/hub/services/clock.ts
  packages/hub/services/exchange-rates.ts
  waypoint.hcl
  waypoint.prod.hcl
Labels: enhancement, hub

#3009 ssr: Update exchange-fetch for new Hub interface
  packages/ssr-web/app/routes/pay.ts
  packages/ssr-web/mirage/config.js
Labels: ssr

#3015 hub: Add caching/history for exchange rates
  packages/hub/README.md
  packages/hub/config/custom-environment-variables.json
  packages/hub/config/structure.sql
  packages/hub/db/migrations/20220527204632100_create-exchange-rates.ts
  packages/hub/node-tests/helpers/index.ts
  packages/hub/node-tests/routes/email-card-drop-request-test.ts
  packages/hub/node-tests/routes/exchange-rates-test.ts
  packages/hub/node-tests/routes/status-test.ts
  packages/hub/node-tests/services/exchange-rates-test.ts
  packages/hub/package.json
  packages/hub/queries/exchange-rates.ts
  packages/hub/routes/exchange-rates.ts
  packages/hub/routes/status.ts
  packages/hub/services/clock.ts
  packages/hub/services/exchange-rates.ts
  waypoint.hcl
  waypoint.prod.hcl
Labels: bug, hub

#3011 hub: Add job_tickets migration
  packages/hub/config/structure.sql
  packages/hub/db/migrations/20220610203119883_create-job-tickets.ts
Labels: hub

#3019 hub: Update SKU for mainnet card drop
  packages/hub/config/production.json
Labels: enhancement, hub

#3018 hub: Extract StubWorkerClient for tests
  packages/hub/node-tests/helpers/stub-worker-client.ts
  packages/hub/node-tests/routes/email-card-drop-request-test.ts
  packages/hub/node-tests/routes/merchant-infos-test.ts
  packages/hub/node-tests/routes/pagerduty-incidents-webhook-test.ts
  packages/hub/node-tests/routes/prepaid-card-customizations-test.ts
  packages/hub/node-tests/routes/wyre-callback-test.ts
  packages/hub/node-tests/services/contract-subscription-event-handler-test.ts
  packages/hub/node-tests/tasks/notify-customer-payment-test.ts
  packages/hub/node-tests/tasks/notify-merchant-claim-test.ts
  packages/hub/node-tests/tasks/notify-prepaid-card-drop-test.ts
Labels: testing, hub

#3024 hub: Add GET /api/job-tickets
  packages/hub/main.ts
  packages/hub/node-tests/routes/job-tickets-test.ts
  packages/hub/queries/job-tickets.ts
  packages/hub/routes/job-tickets.ts
  packages/hub/services/api-router.ts
  packages/hub/services/serializers/job-ticket-serializer.ts
Labels: enhancement, hub

#3025 hub: Add availability flag for card drop requests
  packages/hub/node-tests/routes/email-card-drop-request-test.ts
  packages/hub/routes/email-card-drop-requests.ts
  packages/hub/services/serializers/email-card-drop-request-serializer.ts
Labels: enhancement, hub

#3027 hub: Add show-banner for card drop
  packages/hub/node-tests/routes/email-card-drop-request-test.ts
  packages/hub/routes/email-card-drop-requests.ts
  packages/hub/services/serializers/email-card-drop-request-serializer.ts
Labels: enhancement, hub

#3028 hub: Fix card drop availability calculation
  packages/hub/node-tests/routes/email-card-drop-request-test.ts
  packages/hub/package.json
  packages/hub/queries/email-card-drop-requests.ts
  packages/hub/routes/email-card-drop-requests.ts
  packages/hub/services/clock.ts
Labels: bug, hub

#3043 Fix configuration of HUB_URL for web-client production preview deployments
  .github/workflows/pr-web-client.yml
Labels: bug

#3045 hub: Add retry endpoint for job tickets
  packages/hub/config/structure.sql
  packages/hub/db/migrations/20220622235635327_add-job-ticket-spec.ts
  packages/hub/node-tests/routes/job-tickets-test.ts
  packages/hub/queries/job-tickets.ts
  packages/hub/routes/job-tickets.ts
  packages/hub/services/api-router.ts
  packages/hub/services/serializers/job-ticket-serializer.ts
Labels: enhancement, hub

#3042 Rename internals xdai->gnosis and allow --network=gnosis in cardpay CLI
  packages/boxel/tests/dummy/app/data/db-card-pay.js
  packages/cardpay-cli/README.md
  packages/cardpay-cli/utils.ts
  packages/cardpay-sdk/README.md
  packages/cardpay-sdk/contracts/addresses.ts
  packages/cardpay-sdk/sdk/constants.ts
  packages/cardpay-sdk/sdk/safes.ts
  packages/cardpay-sdk/sdk/utils/merchant.ts
  packages/cardpay-subgraph/src/allowed-tokens/gnosis.ts
  packages/cardpay-subgraph/src/mappings/uniswap-factory-xdai.ts
  packages/hub/config/production.json
  packages/hub/services/contracts.ts
  packages/hub/tasks/notify-customer-payment.ts
  packages/hub/tasks/notify-merchant-claim.ts
  packages/hub/tasks/notify-prepaid-card-drop.ts
  packages/ssr-web/app/config/environment.d.ts
  packages/ssr-web/app/routes/pay.ts
  packages/ssr-web/app/services/layer2-network.ts
  packages/ssr-web/app/utils/web3-strategies/gnosis.ts
  packages/ssr-web/app/utils/web3-strategies/network-display-info.ts
  packages/ssr-web/app/utils/web3-strategies/types.ts
  packages/ssr-web/app/utils/web3-strategies/x-dai.ts
  packages/ssr-web/config/environment.js
  packages/web-client/app/services/layer2-network.ts
  packages/web-client/app/utils/token.ts
  packages/web-client/app/utils/web3-strategies/gnosis.ts
  packages/web-client/app/utils/web3-strategies/network-display-info.ts
  packages/web-client/app/utils/web3-strategies/types.ts
  packages/web-client/app/utils/web3-strategies/x-dai.ts
  packages/web-client/config/environment.js
Labels: chore

#3048 Update browserlist db
  yarn.lock
Labels: chore

#3050 ssr: Fix pay rendering when Ronin Wallet present
  packages/ssr-web/package.json
  packages/web-client/package.json
  yarn.lock
Labels: bug, ssr

#3046 hub: Add POST /api/profile-purchases
  packages/hub/config/structure.sql
  packages/hub/db/migrations/20220629173134216_add-job-ticket-source-arguments.ts
  packages/hub/main.ts
  packages/hub/node-tests/routes/profile-purchases-test.ts
  packages/hub/queries/job-tickets.ts
  packages/hub/routes/job-tickets.ts
  packages/hub/routes/profile-purchases.ts
  packages/hub/routes/utils/validation.ts
  packages/hub/services/api-router.ts
  packages/hub/services/in-app-purchases.ts
Labels: enhancement, hub
