Repository cardstack/cardstack, pull requests merged in 2023-01, with the labels that each got.

#3499 Add proofs table
  packages/hub/config/structure.sql
  packages/hub/db/migrations/20221215134519797_reward-proofs.ts
  packages/hub/prisma/schema.prisma
Labels: hub, rewards

#3523 Cs 5081 add reward root index block number to table
  packages/hub/README.md
  packages/hub/config/structure.sql
  packages/hub/db/migrations/20230104034916208_add-block-number-to-reward-root-index.ts
  packages/hub/prisma/schema.prisma
Labels: hub, rewards

#3527 when the network changes, the selected payment token is updated if needed
  packages/safe-tools-client/app/components/schedule-payment-form-action-card/index.gts
  packages/safe-tools-client/tests/helpers/index.ts
  packages/safe-tools-client/tests/integration/future-payments-list-test.ts
  packages/safe-tools-client/tests/integration/payment-transactions-list-test.ts
  packages/safe-tools-client/tests/integration/safe-info-test.ts
  packages/safe-tools-client/tests/integration/schedule-payment-form-action-card-test.ts
Labels: enhancement

#3459 Add task: Check reward roots
  .vscode/launch.json
  packages/hub/node-tests/tasks/check-reward-roots-test.ts
  packages/hub/services/subgraph.ts
  packages/hub/tasks/check-reward-roots.ts
  packages/hub/tasks/index.ts
  packages/hub/tasks/process-reward-root.ts
  packages/hub/worker.ts
Labels: hub, rewards

#3524 Cs 5023 add test process reward root
  packages/hub/node-tests/tasks/process-reward-root-test.ts
  packages/hub/package.json
  packages/hub/tasks/process-reward-root.ts
  yarn.lock
Labels: hub, rewards

#3532 safe tools client: Add cancel payment option to the options menu in scheduled payment card
  packages/boxel/addon/components/boxel/menu/index.css
  packages/cardpay-sdk/sdk/scheduled-payment-module.ts
  packages/hub/routes/scheduled-payments.ts
  packages/safe-tools-client/app/components/create-safe-modal/index.css
  packages/safe-tools-client/app/components/create-safe-modal/index.gts
  packages/safe-tools-client/app/components/future-payments-list/index.gts
  packages/safe-tools-client/app/components/future-payments-list/scheduled-payment-card/index.css
  packages/safe-tools-client/app/components/future-payments-list/scheduled-payment-card/index.gts
  packages/safe-tools-client/app/services/scheduled-payments-sdk.ts
  packages/safe-tools-client/app/services/scheduled-payments.ts
  packages/safe-tools-client/tests/integration/future-payments-list-test.ts
Labels: sdk, hub, safe-tools

#3531 Update time windows
  packages/safe-tools-client/app/components/future-payments-list/index.css
  packages/safe-tools-client/app/components/future-payments-list/index.gts
  packages/safe-tools-client/app/components/future-payments-list/scheduled-payment-time-bracket/index.gts
  packages/safe-tools-client/package.json
  packages/safe-tools-client/tests/integration/future-payments-list-test.ts
  packages/safe-tools-client/types/ember-date-service/service/date.d.ts
  packages/safe-tools-client/types/ember-date-service/test-support/index.d.ts
  yarn.lock
Labels: safe-tools

#3549 Add --boxel-field-label-justify-content CSS var to Boxel::Field component
  packages/boxel/addon/components/boxel/field/index.css
  packages/boxel/addon/components/boxel/field/usage.gts
Labels: enhancement

#3550 Consistently rename scheduled-payments-sdk to scheduled-payment-sdk.
  packages/safe-tools-client/app/components/create-safe/index.gts
  packages/safe-tools-client/app/components/future-payments-list/scheduled-payment-card/index.gts
  packages/safe-tools-client/app/components/schedule-payment-form-action-card/index.gts
  packages/safe-tools-client/app/services/scheduled-payment-sdk.ts
  packages/safe-tools-client/tests/acceptance/safe-create-test.ts
  packages/safe-tools-client/tests/integration/future-payments-list-test.ts
Labels: internal

#3535 cardie: Add deployability for boxel-motion
  packages/cardie/config.json
Labels: enhancement

#3558 Dev X: toggle proof indexing
  .vscode/launch.json
  packages/hub/config/custom-environment-variables.json
  packages/hub/config/default.cjs
  packages/hub/config/production.json
  packages/hub/config/staging.json
  packages/hub/worker.ts
Labels: hub, rewards

#3547 Improve messaging when errors occurr on scheduled payment form
  packages/safe-tools-client/app/components/schedule-payment-form-action-card/index.gts
  packages/safe-tools-client/app/components/schedule-payment-form-action-card/ui/index.css
  packages/safe-tools-client/app/components/schedule-payment-form-action-card/ui/index.gts
  packages/safe-tools-client/app/services/scheduled-payment-sdk.ts
  packages/safe-tools-client/tests/acceptance/scheduling-test.ts
Labels: safe-tools

#3559 Calculate fees and show in summary
  packages/boxel/addon/components/boxel/toggle-button-group/index.gts
  packages/cardpay-sdk/sdk/constants.ts
  packages/cardpay-sdk/sdk/utils/conversions.ts
  packages/safe-tools-client/app/components/future-payments-list/scheduled-payment-card/index.gts
  packages/safe-tools-client/app/components/schedule-payment-form-action-card/fee-calculator.ts
  packages/safe-tools-client/app/components/schedule-payment-form-action-card/index.gts
  packages/safe-tools-client/app/components/schedule-payment-form-action-card/ui/index.css
  packages/safe-tools-client/app/components/schedule-payment-form-action-card/ui/index.gts
  packages/safe-tools-client/app/components/schedule-payment-form-action-card/ui/max-gas-toggle-button.gts
  packages/safe-tools-client/app/components/token-to-usd/index.gts
  packages/safe-tools-client/app/helpers/native-units-to-decimal.ts
  packages/safe-tools-client/app/helpers/token-to-usd.ts
  packages/safe-tools-client/app/services/scheduled-payment-sdk.ts
  packages/safe-tools-client/app/services/scheduled-payments.ts
  packages/safe-tools-client/app/services/token-to-usd.ts
  packages/safe-tools-client/app/services/tokens.ts
  packages/safe-tools-client/app/utils/titleize.ts
  packages/safe-tools-client/tests/integration/.gitkeep
  packages/safe-tools-client/tests/integration/components/future-payments-list-test.ts
  packages/safe-tools-client/tests/integration/components/payment-transactions-list-test.ts
  packages/safe-tools-client/tests/integration/components/safe-info-test.ts
  packages/safe-tools-client/tests/integration/components/schedule-payment-form-action-card-test.ts
  packages/safe-tools-client/tests/integration/helpers/token-to-usd-test.gts
  packages/safe-tools-client/tests/integration/token-to-usd-test.ts
  packages/safe-tools-client/tests/support/ui-test-helpers.ts
  packages/safe-tools-client/tests/unit/fee-calculator-test.ts
Labels: enhancement, safe-tools

#3561 Add state of scheduled payment form when no compatible safe is present
  packages/safe-tools-client/app/components/schedule-payment-form-action-card/index.gts
  packages/safe-tools-client/app/components/schedule-payment-form-action-card/ui/index.css
  packages/safe-tools-client/app/components/schedule-payment-form-action-card/ui/index.gts
  packages/safe-tools-client/app/templates/schedule.hbs
  packages/safe-tools-client/tests/integration/components/schedule-payment-form-action-card-test.ts
  packages/safe-tools-client/types/global.d.ts
Labels: safe-tools

#3569 Add HUB_PRIVATE_KEY env var to production waypoint apps
  waypoint.hcl
  waypoint.prod.hcl
Labels: bug, hub, safe-tools

#3571 For consistency, use token-list's token name, symbol, icon for gas tokens
  packages/boxel/addon/components/boxel/input/selectable-token.ts
  packages/cardpay-sdk/token-lists/goerli-tokenlist.json
  packages/safe-tools-client/app/components/schedule-payment-form-action-card/fee-calculator.ts
  packages/safe-tools-client/app/components/schedule-payment-form-action-card/index.gts
  packages/safe-tools-client/app/components/schedule-payment-form-action-card/ui/index.gts
  packages/safe-tools-client/app/components/schedule-payment-form-action-card/validator.ts
  packages/safe-tools-client/app/helpers/token-to-usd.ts
  packages/safe-tools-client/app/helpers/with-token-icons.ts
  packages/safe-tools-client/app/services/safes.ts
  packages/safe-tools-client/app/services/scheduled-payments.ts
  packages/safe-tools-client/app/services/token-to-usd.ts
  packages/safe-tools-client/app/services/tokens.ts
  packages/safe-tools-client/app/utils/token-quantity.ts
  packages/safe-tools-client/tests/unit/fee-calculator-test.ts
Labels: enhancement, safe-tools

#3570 Restrict scheduler tool network options to the networks supported by the connected hub server
  packages/cardpay-sdk/sdk/hub-config.ts
  packages/hub/config/default.cjs
  packages/hub/config/production.json
  packages/hub/node-tests/routes/config-test.ts
  packages/safe-tools-client/app/css/schedule.css
  packages/safe-tools-client/app/services/hub-config.ts
  packages/safe-tools-client/app/services/network.ts
  packages/safe-tools-client/app/services/wallet.ts
  packages/safe-tools-client/app/templates/schedule.hbs
  packages/safe-tools-client/tests/acceptance/scheduling-test.ts
  packages/safe-tools-client/types/global.d.ts
Labels: enhancement, safe-tools

#3573 Eliminate unintended right margin on scheduler form when future payments list is not rendered
  packages/safe-tools-client/app/components/schedule-payment-form-action-card/ui/index.css
  packages/safe-tools-client/app/css/app.css
Labels: bug, safe-tools

#3574 Fix issue where completed state of scheduler form shown two buttons atop each other
  packages/boxel/addon/components/boxel/action-chin/index.css
  packages/safe-tools-client/app/components/schedule-payment-form-action-card/ui/index.gts
  packages/safe-tools-client/tests/acceptance/scheduling-test.ts
Labels: bug, safe-tools

#3588 Fix wrong conversion in gas estimation
  packages/safe-tools-client/app/components/schedule-payment-form-action-card/index.gts
  packages/safe-tools-client/app/services/scheduled-payment-sdk.ts
  packages/safe-tools-client/tests/integration/components/schedule-payment-form-action-card-test.ts
Labels: bug, safe-tools

#3587 Limit payments to being scheduled 1 year in advance
  packages/boxel/addon/components/boxel/calendar/index.gts
  packages/boxel/addon/components/boxel/calendar/usage.gts
  packages/boxel/addon/components/boxel/input/date/index.gts
  packages/boxel/addon/components/boxel/input/date/usage.gts
  packages/boxel/types/ember-power-calendar/components/power-calendar/index.d.ts
  packages/hub/node-tests/services/scheduled-payments/validator-test.ts
  packages/hub/services/validators/scheduled-payment.ts
  packages/safe-tools-client/app/components/schedule-payment-form-action-card/index.gts
  packages/safe-tools-client/app/components/schedule-payment-form-action-card/ui/index.css
  packages/safe-tools-client/app/components/schedule-payment-form-action-card/ui/index.gts
  packages/safe-tools-client/app/components/schedule-payment-form-action-card/validator.ts
  packages/safe-tools-client/tests/integration/components/schedule-payment-form-action-card-test.ts
  packages/safe-tools-client/tests/unit/components/schedule-payment-form-action-card/validator-test.ts
Labels: enhancement, safe-tools

#3590 [Fix]: Clean wallet state on disconnect
  packages/safe-tools-client/app/services/wallet.ts
Labels: safe-tools
