Repository cardstack/cardstack, pull requests merged in 2023-02, with the labels that each got.

#3606 [CS-5237]: Validate amount to be greater than 0
  packages/safe-tools-client/app/components/schedule-payment-form-action-card/validator.ts
Labels: bug, safe-tools

#3615 Add note on bottom of form about gas behavior
  packages/safe-tools-client/app/components/schedule-payment-form-action-card/ui/index.gts
Labels: safe-tools

#3616 Improve deposit instructions
  packages/safe-tools-client/app/components/deposit-modal/index.css
  packages/safe-tools-client/app/components/deposit-modal/index.gts
Labels: safe-tools

#3625 Remove unneeded processing step for gas tokens display.
  packages/safe-tools-client/app/components/schedule-payment-form-action-card/index.gts
  packages/safe-tools-client/app/components/schedule-payment-form-action-card/ui/index.gts
  packages/safe-tools-client/app/helpers/with-token-icons.ts
Labels: safe-tools

#3626 Handle time window where the payment does not show up in any lists
  packages/cardpay-sdk/sdk/scheduled-payment-module.ts
  packages/safe-tools-client/app/components/future-payments-list/index.gts
  packages/safe-tools-client/tests/integration/components/future-payments-list-test.ts
Labels: bug, safe-tools

#3650 Update copy of future payments empty state to avoid being misleading
  packages/safe-tools-client/app/components/future-payments-list/index.gts
Labels: safe-tools

#3648 While refreshing token balances, don't hide previously fetched balances.
  packages/safe-tools-client/app/services/safes.ts
  packages/safe-tools-client/app/templates/schedule.hbs
Labels: safe-tools

#3651 Filter payments by selected safe
  packages/hub/node-tests/routes/scheduled-payment-attempts-test.ts
  packages/hub/node-tests/routes/scheduled-payments-test.ts
  packages/hub/routes/scheduled-payment-attempts.ts
  packages/hub/routes/scheduled-payments.ts
  packages/safe-tools-client/app/components/payment-transactions-list/index.gts
  packages/safe-tools-client/app/services/scheduled-payments.ts
  packages/safe-tools-client/tests/integration/components/future-payments-list-test.ts
  packages/safe-tools-client/tests/integration/components/payment-transactions-list-test.ts
Labels: hub, safe-tools

#3649 Show version number of safe-tools-client in footer of site
  packages/boxel/addon/components/boxel/control-panel/index.css
  packages/safe-tools-client/app/controllers/schedule.ts
  packages/safe-tools-client/app/css/schedule.css
  packages/safe-tools-client/app/templates/schedule.hbs
  packages/safe-tools-client/package.json
  packages/safe-tools-client/tests/acceptance/accessibility-test.ts
  yarn.lock
Labels: safe-tools

#3646 Show search field in token select UI when more than 5 tokens listed
  packages/boxel/addon/components/boxel/input-group/accessories/index.gts
  packages/boxel/addon/components/boxel/input/selectable-token-amount/index.gts
  packages/boxel/addon/components/boxel/input/selectable-token-amount/usage.gts
  packages/boxel/addon/components/boxel/input/token-select/index.gts
  packages/boxel/addon/components/boxel/select/before-options.d.ts
  packages/boxel/addon/components/boxel/select/index.css
  packages/boxel/addon/components/boxel/select/index.gts
  packages/boxel/addon/components/boxel/select/usage.gts
  packages/boxel/types/ember-power-select/components/power-select/index.d.ts
  packages/safe-tools-client/app/components/schedule-payment-form-action-card/ui/index.gts
  packages/safe-tools-client/tests/acceptance/scheduling-test.ts
Labels: safe-tools

#3647 Add unsupported network modal
  packages/safe-tools-client/app/components/general-info-modal/index.css
  packages/safe-tools-client/app/components/general-info-modal/index.gts
  packages/safe-tools-client/app/controllers/application.ts
  packages/safe-tools-client/app/services/wallet.ts
  packages/safe-tools-client/app/templates/application.hbs
  packages/safe-tools-client/tests/acceptance/wallet-connection-test.ts
Labels: safe-tools

#3641 Add execute claim
  packages/cardpay-cli/claim-settlement/add-validator.ts
  packages/cardpay-cli/claim-settlement/execute.ts
  packages/cardpay-cli/claim-settlement/index.ts
  packages/cardpay-sdk/contracts/addresses.ts
  packages/cardpay-sdk/sdk/claim-settlement-module.ts
  packages/cardpay-sdk/sdk/safe-module.ts
Labels: sdk

#3654 Fix schedule another payment issue
  packages/cardpay-sdk/sdk/scheduled-payment-module.ts
  packages/safe-tools-client/app/components/schedule-payment-form-action-card/index.gts
  packages/safe-tools-client/app/services/scheduled-payment-sdk.ts
  packages/safe-tools-client/tests/acceptance/scheduling-test.ts
Labels: sdk, safe-tools
